[2020-07-17 15:06] davidhealey commented on #211
Well it's just a website essentially so can probably be ported fairly easily to desktop via Electron, I'm not sure if barcode scanning would work though.

[2020-07-18 13:11] Marsupilami557 commented on #211
I dont use the Barcode Feature, so its not an issue for me.
If its possible i would prefer using Waistline as an Offline Website in my Firefox Browser. Otherwise i would be also happy to use it as an Electron App on PC. 👍

[2020-07-27 09:43] felixsanz opened #212 "[Feature Request] Ability to reorder ingredients in recipes"

[2020-07-27 09:56] felixsanz opened #213 "[Bug] Problem with js decimals"
If you have an ingredient with 141kcal per 100 grams, and you add 65 grams to a recipe, the result is 91.6499999999999999 kcal.

This should be rounded to 1 decimal.

[2020-07-27 11:04] davidhealey commented on #213
This is fixed in the development branch and will be available in the next release.

[2020-07-27 11:04] #213 closed

[2020-08-12 12:05] tamis-laan opened #214 "[bug] Interface not updating"
When I add a new food for example, the new food item is not added to the food list. Instead I have to switch the current focus to statistics for example and then back to foods in order to see the new food item added to the list.

[2020-08-12 12:07] tamis-laan opened #215 "feature request: add or connect step counter"
Would be great if the app would connect to or have the ability to count steps. This way a more accurate picture of the amount of calories burnt can be made.

[2020-08-12 12:12] davidhealey commented on #215
I have no plans to include such a feature.

[2020-08-12 12:12] #215 closed

[2020-08-12 12:12] davidhealey commented on #214
This bug has been brought up before and will be fixed in the next release.

[2020-08-12 12:12] #214 closed

[2020-08-12 12:12] tamis-laan opened #216 "feature request: Basil Metabolic Rate (BMR) calculator"
It would be great if I could enter my weight and height in order to calculate my Basil Metabolic Rate (BMR). This way I know how many calories I burn per day and can set my goal as a deficit, for example -200 cal each day. As you lose weight and keep track of your weight the BMR would change accordingly and the max number of calories to reach your goal would also update. Integrating a step counter

[2020-08-12 12:17] davidhealey commented on #216
I plan to include a feature like this in the future.

[2020-08-20 15:44] longestmt opened #217 "Release request: Please push latest release"
I'm certain this app is being written in your free time and I thank you for it. Furthermore every issue I have created has been closed because they are already implemented and slated for the next release. Awesome! My request is just that the changes are pushed so I can start taking advantage of them.

Again, respectfully, if you are working on this app I kindly request you prioritize releasing lat

[2020-08-20 15:54] davidhealey commented on #217
Hi,

Unfortunately it's not possible to push a release with just the fixes as the new version is a major re-write using a different UI library. I had to switch to a new library because there were things I wanted to do that weren't possible in the original library and it contained some bugs that the developers aren't going to fix.

If I was the release the current development version I would have f

[2020-08-30 05:09] rendeko commented on #194
I'd like to bump this. I know you are currently rewriting with a new framework, but imo is this a necessary feature. Waistline is fantastic and can almost completely replace proprietary food tracking apps, but the extra equation I need to do per-ingredient is the one thing holding me back. Aside from that it is everything I could want in a food tracking app.

Very excited for the new release!

[2020-09-16 20:29] jncosideout opened #218 "[Feature Request]: Subtotals for macro-nutrients in Diary"
In addition to counting calories, it is very important to me to track total gr of protein, sugar, fiber, carbs, fat, etc. I have been using FatSecret since 2014 and they display a totals bar at the top and subtotals for each meal, and even for each food in a meal. Your app comes so close to FatSecret as a FOSS alternative that this feature is the only thing it needs, imho.

**The columns at the to

[2020-09-16 21:01] davidhealey commented on #218
Yeah I like that. The current dev version already includes tracking these things in the top bar but I think this layout you show is a little better so I'll see what I can use from it.

[2020-09-19 17:12] JackElsey commented on #217
Perhaps you could release it in beta as an apk?

[2020-09-19 17:19] davidhealey commented on #217
Nobody would use it, the current develop branch is missing lots of features from the released version. It doesn't have stats, weight tracking, meals, recipes, goals can't be edited, and there's no settings page. All of the backend stuff is still there but I haven't implemented the user side of things yet.

[2020-10-02 07:50] SpaceyPuppy commented on #180
I'd love to see this change as a settings option. Here in Aus almost everything is kJ/100g rather than kcal.

[2020-10-05 07:54] cutec-chris commented on #217
Whats the dvelopment branch ? "framework7" ?
When do you think your done with it ?

[2020-10-05 12:38] davidhealey commented on #217
Yes, framework7

No idea. This year I hope.

[2020-10-05 18:54] cutec-chris commented on #217
Is there an easy mehtod you use to serve an version locally ?

[2020-10-05 19:54] davidhealey commented on #217
I develop in Cordova's web browser platform. It can also serve it to an Android device connected by USB but it's a bit slow for development work.

[2020-10-07 16:33] JackElsey opened #219 "data import and export functions not working"
I'm having trouble migrating my data to a new Google Pixel 4a running Android 11.

I understand that the file `waistline_export.json` needs to be in the directory `Android/data/com.waist.line/files` in order for Waistline to find it. This directory does not exist on my phone after installing Waistline, although the app did create an empty directory `Android/media/com.waist.line`. Placing the file

[2020-10-07 16:37] davidhealey commented on #219
This might be a change with newer versions of Android. Did you try creating Android/media/com.waist.line/files?

[2020-10-07 16:38] JackElsey commented on #219
Sorry, I edited my prior post with more information.

[2020-10-07 16:40] davidhealey commented on #219
So it must be creating the file somewhere for the import to work. Try doing a system search for waistline_export.json to find the location.

[2020-10-07 16:49] JackElsey commented on #219
I agree that the new export file must have been created somewhere, but searching for `waistline_export.json` in both the stock Files app and the filebrowser app Solid Explorer only return the file that I was originally trying to import into waistline. I've configured both apps to show hidden files.

[2020-10-07 16:51] davidhealey commented on #219
And is it importing the file you were originally trying to import?

[2020-10-07 16:52] JackElsey commented on #219
No, sorry if I was unclear. It's importing the file with dummy diary entries.

[2020-10-07 16:56] davidhealey commented on #219
Plugin your phone into a computer. Make a backup of the export data that you have and want to keep. Remove that file completely from your phone. Use the computer's search tool to look for any other export.json files on the phone.

[2020-10-07 17:13] JackElsey commented on #219
Plugging my phone into my computer and opening the directory `Android/data` with Ubuntu's Nautilus file browser reveals dozens of directories that weren't displayed on the phone, including `com.waist.line/files`. Replacing the file `waistline_export.json` in that directory with the file that contains the data I want to migrate resulted in a successful data import. Thanks for helping me figure this

[2020-10-07 17:13] #219 closed

[2020-10-07 17:26] davidhealey commented on #219
Thanks! In the next version of Waistline I intend to create a more user friendly import/export feature with a proper file browser so you can put the data file wherever is convenient.

[2020-12-28 01:40] davidhealey commented on #184
This is now fully implemented in the framework7 development branch and will be available in the next release (2021)

[2020-12-28 01:40] #184 closed

[2020-12-30 01:07] davidhealey opened #220 "Add setting to select max number of food items to list"
This will affect the max length of the foodlist, older devices might perform better with a smaller number of items.

[2020-12-30 01:08] davidhealey commented on #217
I'm working on the latest version at the moment and it should be ready early next year.

[2020-12-30 01:09] #167 closed

[2020-12-30 04:14] longestmt commented on #217
Crazy timing! I was just thinking about checking in on this app since I'm getting back to calorie/macro counting come January.

Thanks for reaching out.

Merry Christmas,

Tyler

-------- Original Message --------
On Dec 29, 2020, 20:08, David Healey wrote:

[2021-01-01 19:18] davidhealey commented on #180
I've added this now in the develpment branch. Both Kilojoules and KCalories are recorded in the food editor and you can choose which one you prefer to see displayed in the diary and foodlist. It's also possible to set kJ as a goal.

[2021-01-01 19:18] #180 closed

[2021-01-01 19:19] davidhealey commented on #200
Not sure if this is possible with Cordova based apps but I'll look into it.

[2021-01-01 19:31] davidhealey opened #221 "Allow calculations in quantity and serving size"
I think it would be cool if you could do simple maths in these fields and have the other fields update accordingly.

For example if an item is a 200g serving and you want to know what half of it would be you could just enter into the box 200/2 or 200*0.5. Obviously with 200 it's not difficult to work out in your head but if it was a more obscure value like 372.5g it would be very helpful.

[2021-01-05 12:41] jangop opened #222 "Support generic foods, such as fruit"
[Open Food Facts](https://openfoodfacts.org/) (to my knowledge) only stores branded products, and, as such, only those can be found through Waistline.

However, the US Departments of Agriculture, which has (as far as I know) contributed much to Open Food Facts, offers its own service including an API: [FoodData Central](https://fdc.nal.usda.gov/).

It would be terrific if we were able to access th

[2021-01-05 14:54] davidhealey commented on #222
USDA is already in the development version which will be available in the next release.
Also #86 #154

[2021-01-05 14:54] #222 closed

[2021-01-05 16:06] jangop opened #223 "Impute missing values"
A lot of items in [Open Food Facts](https://openfoodfacts.org/) (OFF) lack a number of values (see, for example, [this notebook on kaggle][1], or [this notebook on github][2]). Oftentimes this is simply because the producer does not disclose the information in question, see, for example [these thin-rolled oats](https://world.openfoodfacts.org/product/4388844221321). Although their fiber content is

[2021-01-05 17:31] davidhealey commented on #223
So you mean if an OFF item is called "rolled oats" and it is missing a value, Waistline should check USDA for the missing value of generic rolled oats?

[2021-01-05 18:05] stephanegigandet commented on #223
@jangop Inferring nutrition facts from ingredients is a very interesting topic, in particular for fibers that are very often missing on labels. We (Open Food Facts) are also considering doing the reverse: inferring the % of each ingredient (which is often not specified in the ingredients list) based on nutrition facts. For instance if the nutrient salt is 2%, then we know it is the max bound for s

[2021-01-05 18:07] davidhealey commented on #223
I think that's a much better idea. It seems like something beyond the scrope of Waistline anyway.

[2021-01-07 13:41] jangop commented on #223
Almost. For a simple case, where an item contains only a single ingredient, known to OFF, Waistline could look up that ingredient on USDA to fill in missing values; the name given to the item by the brand/producer would not go into this, so as not to start guessing based on strings.

[2021-01-07 13:44] jangop commented on #223
Yes, that would be preferable; as long as it does not pollute the core database in any way. Exact and verifiable information should not suffer from imputation, which would (I suppose) be application-specific. That is why I went to the Waistline Issues first. 😉

I'll see what I can do -- and hopefully get back to @davidhealey with something usable.

[2021-01-08 10:46] galaxyrun commented on #218
Are there any updates on this?

[2021-01-08 13:38] davidhealey commented on #218
Tracking in the top bar is implemented in the dev version, it's not limited to 4 though, you can show as many as you like, you just drag to scroll through all the nutriments. I haven't implemented it on a per meal or food basis, I'll need to think of the best way to do that because the space is more limited there unlike the top bar. It may be the case that you can only show a limited number there.

[2021-01-09 01:48] davidhealey commented on #211
I noticed that Cordova has an Electron platform now so hopefully that will make it fairly straightforward to create a desktop version. Once the next Android release it ready I'll look into this as I'd like an Electron version so I can run Waistline on my PinePhone.

[2021-01-09 01:53] davidhealey commented on #169
This bug is fixed and will be available in the next release sometime in the next few weeks - months.

[2021-01-09 01:53] #169 closed

[2021-02-01 08:35] ttimeless opened #224 "Can not add foods to recipes nor meals"
When trying to add a component to a meal or recipe it is possible to mark it in the list but the tickmark in the upper right corner wont work and therefore the selection can not be confirmed.

[2021-02-01 11:31] davidhealey commented on #224
Is this with meals you've already created?

[2021-02-01 21:57] ttimeless commented on #224
I experienced this with entirely new meals. I havent created any so far
(or just empty ones).

David Healey wrote:

[2021-02-01 22:07] davidhealey commented on #224
Very strange. Well it's already fixed in the development branch as I've completely rewritten the meal and recipe system and it's now more robust, so it will be working in the next release.

[2021-02-01 22:07] #224 closed

[2021-02-01 23:02] galaxyrun commented on #218
When will this version be available?

[2021-02-01 23:12] davidhealey commented on #218
Sometime this year, hopefully not too long but I still have a few major features to rewrite.

![Peek 2021-02-01 23-12](https://user-images.githubusercontent.com/14021202/106529796-0211b200-64e3-11eb-8ea7-789c47acd482.gif)

[2021-02-06 13:44] disobeyedtoast opened #225 "Allow users to look up food from Open Food Facts in app and import them into Waistline"
I could have sworn this was a feature in the past, but I may be thinking of a different application. It would be very helpful if you allowed users to look up and import foods from the OFF database by searching for them in the app instead of having to scan a barcode or input it manually.

[2021-02-06 13:55] disobeyedtoast opened #226 "Allow users to calculate Base Metabolic Rate and use that to track how many calories you need to reach your goals"
Before anything else, let me apologize for my nitpicks in the software, I really do like it. That being said, it would help with (i'd imagine) many users' ease of use if they were able to calculate their Base metabolic rate like they can in many non-libre applications. This would allow your daily intake of calories to change in respect to your base metabolic rate and the goals the users set in the

[2021-02-06 14:11] #226 closed

[2021-02-06 14:42] davidhealey commented on #225
Yeah you can do that already, just type it in the search box.

[2021-02-06 14:42] #225 closed

[2021-02-07 00:48] davidhealey commented on #212
Not something I'm going to implement any time soon, but when I do I'll probably use this library so I'll leave it here as a reminder to myself :)
https://sortablejs.github.io/Sortable/

[2021-02-07 00:53] davidhealey commented on #217
Status update:

Food list works
Diary works
Settings work
Recipes work
Meals work
* Recipes and meals can now have recipes and meals added to them.

Still to do:
Food upload to OFF
Goals
Stats
User Guide/Tour
First time setup

I was hoping to complete the rewrite last month but work got in the way, I have less free time at the moment so I'm just working on Waistline on weekends, I expect to finish

[2021-02-07 01:03] davidhealey commented on #194
The portion/serving thing is resolved in the latest develop branch, the portion vs nutritional info is still on my todo list but probably won't be something in the next release, but the release after that.

[2021-02-07 01:06] #157 closed

[2021-02-07 01:07] #153 closed

[2021-02-07 11:47] disobeyedtoast commented on #225
Oh, then this is a bug.

[2021-02-07 13:14] davidhealey commented on #225
Try changing the search country in the foodlist settings.

[2021-02-07 19:01] disobeyedtoast commented on #225
ah, that worked. sorry about this

[2021-02-21 13:40] davidhealey commented on #194
The portion/nutrition thing will be in the next release, in fact it's already in the development version. I just copied the system from the open food facts app so you can select whether the nutrients are per serving or per 100g.

[2021-02-21 13:40] #194 closed

[2021-02-23 21:37] davidhealey commented on #107
Apparently this still isn't fixed...

[2021-02-27 14:51] davidhealey commented on #145
This is now resolved in the develop branch and will be available in the next version.

[2021-02-27 14:51] #145 closed

[2021-03-16 20:30] Cliveptr commented on #217
How's the refactoring going? Was really looking forward to the update :(

P.S. Thank you for such an amazing app! It's really quite amazing how much trackers ~~some~~ most of the proprietary apps have.

[2021-03-16 21:02] davidhealey commented on #217
The app is now usable again, I'm using it every day at the moment. The last important feature I have to implement (which I'll do this weekend) is the statistics screen. They I just need to do a bug hunt. So I expect to release the next version in April.

[2021-03-19 14:44] goblin opened #227 "Allow entry of weight or volume when adding an item to diary"
If I see it correctly, currently when adding a food item to your diary, you can only enter the number of servings (which seems to default to 1). This can be tricky when you just weigh how much of each food you eat, as serving sizes can be pretty arbitrary and you have to do tough math in your head.

It would be nice if instead of number of servings you could just input the weight or volume of the

[2021-03-19 14:51] davidhealey commented on #227
I can't remember how it works in the release version, but in the upcoming version you can adjust but serving size and number of servings.

[2021-03-19 14:51] #227 closed

[2021-03-20 21:25] davidhealey commented on #217
I'm looking for a few people to test the development version. It should be ready next weekend. If you're interested please leave a comment here, it would be helpful to know what device and OS you are using but it's not essential.

There is a risk that you will lose database entries from your current version, you should definitely make a back up of them so that if the worst happens we can try and r

[2021-03-20 21:28] longestmt commented on #217
I'm willing to test. I have a Note 9. I'm on Android 10 Kernel version 4.9.186.

[2021-03-20 21:30] Cliveptr commented on #217
I could probably help test. I have a Pixel 2 XL on Android 11 (GrapheneOS).

[2021-03-21 02:33] ubergeek77 commented on #217
I'd love to help test as well.

Out of curiosity, everything on the `framework7` branch is up to date with this version you want to test, right? I'm wondering if I can compile an apk for my own use.

[2021-03-21 10:26] davidhealey commented on #217
Yes, that's the current development branch. I'll be making additional commits today and next weekend before running a build. But if you want to test it in it's current state you can.

[2021-03-21 12:27] yekteniya commented on #217
I'd be happy to test too. Running Android 11 with no gapps on a Xiaomi Mi 9 T

[2021-03-21 15:56] JackElsey commented on #217
I'd love to help test. I'm running Android 11 on a Pixel 4a.

[2021-03-26 21:19] longestmt commented on #217
@davidhealey https://www.youtube.com/watch?v=HB9nvMq8dGU&t=1

Ha you'll definitely have some new users coming in soon.

[2021-03-26 21:26] davidhealey commented on #217
Oh excellent!

[2021-03-26 23:13] davidhealey commented on #49
Body fat tracking is available from the diary page in the next release. Brand placement is now fixed, in the secondary position (I don't plan to re-add the option to move it, but who knows!). Foods are now edited by single tap and selected via single tap on the checkbox.

[2021-03-26 23:13] #49 closed

[2021-03-26 23:19] davidhealey commented on #220
Changed my mind about this since I'm using lazy lists.

[2021-03-26 23:19] #220 closed

[2021-03-26 23:20] davidhealey commented on #208
I haven't been able to recreate this, do you have the steps to reproduce it reliably?

[2021-03-26 23:27] davidhealey commented on #207
Done

[2021-03-26 23:27] #207 closed

[2021-03-26 23:55] davidhealey commented on #203
Neck, waist, hip measurements have now been added, I haven't added a calculator yet though

[2021-03-26 23:56] davidhealey commented on #202
Autobackup has been added now. Every time you open the app it will make a backup of the database. This is now saved in /home/waistline (or whatever the android equivalent of that is).

[2021-03-26 23:56] #202 closed

[2021-03-27 00:00] davidhealey commented on #196
Done

[2021-03-27 00:00] #196 closed

[2021-03-27 00:02] davidhealey commented on #185
Similar to #218

[2021-03-27 00:03] davidhealey commented on #170
Should be fixed in next release, but let me know if it works on your device

[2021-03-27 00:04] davidhealey commented on #149
Thumbnails have now been added, they are only shown when connected to the internet, there is also a setting to only show them when using wifi.

[2021-03-27 00:04] #149 closed

[2021-03-27 00:05] davidhealey commented on #134
This should be fixed in the next release, let me know

[2021-03-27 00:06] #120 closed

[2021-03-27 00:07] davidhealey commented on #107
Fixed (again)

[2021-03-27 00:07] #107 closed

[2021-03-27 00:09] davidhealey commented on #79
The double/triple tap issue is fixed. I've not been able to implement a file browser, I know how it can be done but it's a huge pain for little gain. What I've done instead is added a default 'Waistline' folder in the home directory.

[2021-03-27 00:09] #79 closed

[2021-03-27 08:35] jubalh commented on #49
Thanks

[2021-03-27 13:51] davidhealey commented on #49
Oh and foods are linked to the master food list. So if you edit a food the change will be reflected in the diary, recipes, and meals pages.

[2021-03-27 21:02] dmaahs2017 commented on #217
This is what brought me here :). Glad to see a new version is coming out. Thanks very much for your time and effort @davidhealey

[2021-03-27 22:47] davidhealey commented on #217
Here is the new debug build. It's been very solid in my tests but I'm interested to see how it runs on other people's devices. Be aware that because this is a debug build it may feel more laggy than a release build.

If you have a computer running chrome/chromium you can go to **_chrome://inspect_** while your device is connected via USB and running Waistline. You'll get a debug console and other

[2021-03-28 02:34] foldingdemon commented on #158
I think this would be a great addition as well!

[2021-03-28 15:12] Cliveptr commented on #217
I can't install the debug apk due to it having a different signature. Installed it from F-Droid.

[2021-03-28 15:16] davidhealey commented on #217
Oh good point, I didn't sign the new build. I'll do it now and update the link.

[2021-03-28 15:19] JackElsey commented on #217
@Cliveptr

How did you go about doing that? Is there some way of opening the
downloaded apk file with F-Droid?

On Sun, Mar 28, 2021, 11:12 AM Cliveptr ***@***.***> wrote:

[2021-03-28 15:26] davidhealey commented on #217
I think Cliveptr was saying he'd previously installed the release version from F-Droid and that the signature from that install was not matching the new beta APK I posted in this thread.

[2021-03-28 15:50] JackElsey commented on #217
When I tap on app-debug-signed.apk in my file browser I get a message that says "Do you want to install an update to this existing application? Your existing data will not be lost." When I tap on the "Install" button however I get another message that says "App not installed."

I've tried restarting my phone and force stopping Waistline before trying to install the update, but that hasn't worked.

[2021-03-28 15:56] davidhealey commented on #217
Nope, you did it right, seems I made some mistake somewhere. I'm getting a package corrupt error. I'll try again and update the link once I figure out what's going on. Usually I install debug builds directly from my build environment to my phone so I don't interact with the apk directly.

[2021-03-28 20:23] davidhealey commented on #217
I solved the mystery. Firstly I've had to make a release build because I couldn't get the codesigning to work properly with the debug build. Secondly I forgot that the version on F-Droid is built by F-Droid, which means it uses the F-Droid signing credentials and so is incompatible with a version signed by me.

This means if you originally installed using F-Droid you'll need to remove that version

[2021-03-28 21:03] JackElsey commented on #217
I was able to install this version. When I open the app I see a very nice splash screen with the Waistline logo and a spinning loading indicator, but then then the app hangs at a white screen. The directory */Waistline/Database Backups/* is not created.

[2021-03-28 21:09] davidhealey commented on #217
If you have chrome, plug your phone in via USB and go to chrome://inspect. Open the app on your phone then click inspect in the browser and see if you get a message in the console window.

[2021-03-28 21:50] JackElsey commented on #217
I've successfully set up USB debugging via developer options and can now inspect/control Android Chrome tabs open on my phone, but I do not see any listing appear for Waistline when I have the app open.

![debug](https://user-images.githubusercontent.com/19174587/112769229-e9f37600-8fed-11eb-8d15-c550405f6a5b.png)

[2021-03-28 21:56] davidhealey commented on #217
When I test I close all apps on my phone, connect via USB, open Chrome inspect, then I load Waistline. Maybe that will help...

[2021-03-28 22:27] JackElsey commented on #217
I'm afraid Waistline still doesn't appear as a listing under my phone when I open chrome://inspect, even after restarting and following the steps you outlined.

[2021-03-28 22:41] davidhealey commented on #217
I'll see if I can add some kind of log file thingy to the app, that will be more reliable

[2021-03-28 23:35] davidhealey commented on #217
I've found a log file plugin which is a little out of date but I'm going to try and implement it anyway. One thing I forgot to ask, did you enable Android Debugging in the Developer Options? Might also be listed as ADB or Debug Bridge interface.

[2021-03-29 00:07] yekteniya commented on #217
I am also having the same issues described by @JackElsey above when opening the app. The chromium inspect console gave the following log
[-1616976069790.log](https://github.com/davidhealey/waistline/files/6218462/-1616976069790.log)

Also using Android's back button does not work and I am unable to leave the app's initial white screen:
[code]

[2021-03-29 00:10] davidhealey commented on #217
Thanks for the info. Were you installing over a previous version or was this a fresh install?

[2021-03-29 00:31] yekteniya commented on #217
I uninstalled the "old" version before to be able to install this new one due to the signature conflict. Do let me know if there is any additional deleting I should do to make it a fresh install

[2021-03-29 00:33] davidhealey commented on #217
Sounds like you did everything. I'm just cleaning up a few things that were in your error log and fixing a bug then I'll run a new build.

[2021-03-29 00:53] davidhealey commented on #217
Please try this one
[app-release.apk.zip](https://github.com/davidhealey/waistline/files/6218585/app-release.apk.zip)

[2021-03-29 03:12] JackElsey commented on #217
I am no able to load the app without any problems.

My entries for my foods and meals loaded automatically, but fields are missing. The name, brand, serving size, calories, and kilojoules are there, but all other fields (e.g. the serving unit and proteins) are blank.

I think so? I have "USB debugging" turned on. I can look into it more if needed.

[2021-03-29 11:16] davidhealey commented on #217
@JackElsey Did you make a backup before you installed the new version?

[2021-03-29 11:18] yekteniya commented on #217
Some comments regarding the latest version from 10 hours ago:
- App is now starting correctly
- Import/Export:
    - Had to manually create the folders in internal storage Waistline/Database Backups
    - Importing does not seem to have any effect. The file not found alert is not shown but nothing seems to be loaded into the database even after restarting the app
        - Minor typo in the import

[2021-03-29 11:21] davidhealey commented on #217
@yekteniya Thanks, I've made a note of the typo and will fix it before the next release.

The previous version was also a release build so that shouldn't affect Chrome inspect, strange that it doesn't seem to work reliably....

Are you trying to import data you exported with the current version or with the previous version?
Can you send me the data file?

[2021-03-29 11:36] yekteniya commented on #217
The data was exported with the previous version (the one currently on F-Droid). GitHub won't let me upload the file, so here is a [link](https://mega.nz/file/X4lVQYgJ#7kebaqqYDyS0pc6I4rckMKoN27odcSJtLTFpgj4sN2w) to download it. Please let me know when you have downloaded it so that I can remove it from my drive.

And regarding the Chrome inspect, this has been the first time using it so I'm not ve

[2021-03-29 11:38] davidhealey commented on #217
@yekteniya Thanks, I've downloaded it. I only discovered Chrome inspect recently myself. Another option is to use the Android debugger (ADB) from the command line but that's not as user friendly.

[2021-03-29 11:44] davidhealey commented on #217
@yekteniya It's unlikely that importing a backup from the previous version will work because the database has been significantly restructured in the new release. However I'll be able to import your data into the old version and test how it is converted to the new version, and hopefully I'll be able to make it seamless, although with a large database such as yours it might have complications.

[2021-03-29 11:51] yekteniya commented on #217
@davidhealey That's understandable and I'm afraid I've been using your app for quite a while, so the database size probably got a bit out of control haha. I have the adb packages on my Linux machine leftover from some rooting I did on my phone and I'm not very familiar with its use, but if there are any commands I could run that would be helpful let me know

[2021-03-29 11:58] davidhealey commented on #217
@yekteniya It's a good test case database though, I think a lot of users will be happy if we can make the transition to the new version as smooth as possible without dataloss.

_adb logcat_ is the one you want, there are a few options available that might be useful too, a list is available here - https://developer.android.com/studio/command-line/logcat

[2021-03-29 14:14] JackElsey commented on #217
Yes, I have not attempted to manually import the json backup yet. Let me know if you want that file for testing.

[2021-03-29 14:15] davidhealey commented on #217
@JackElsey Thanks Jack, I think I have enough data from yektenjiya for now but if I need more I'll let you know

[2021-03-29 15:54] JackElsey commented on #217
If I install the apk, close the app, then reopen it I am prompted to grant
Waistline access to file storage. No matter what I select the app then
hangs at a white screen.

On Mon, Mar 29, 2021, 10:16 AM David Healey ***@***.***>
wrote:

[2021-03-29 15:57] davidhealey commented on #217
Did you remove the older version before installing?

[2021-03-29 16:05] JackElsey commented on #217
I uninstalled the old version before installing this apk, but data from the
previous installation was still present in storage. Entries for all my food
and meal items were automatically created.

On Mon, Mar 29, 2021, 11:57 AM David Healey ***@***.***>
wrote:

[2021-03-29 16:07] davidhealey commented on #217
I think you'll need to do a full uninstall clearing out old data too

[2021-03-29 17:47] JackElsey commented on #217
Where do you think I'd find those files? I searched through my phone storage, including hidden files, and didn't find anything.

[2021-03-29 20:07] davidhealey commented on #217
@JackElsey Try this - https://www.maketecheasier.com/remove-leftover-files-android/

[2021-03-29 22:21] JackElsey commented on #217
I've tried all the recommendations in that article (the two apps they recommended didn't find any zombie files for Waistline). I've also tried hooking my phone up to my computer via USB and searching through all files for "waist" after uninstalling the app, which didn't produce any results. However, every time I reinstall the app all my previous food items are still there, and the file */Android/d

[2021-03-29 22:23] davidhealey commented on #217
@JackElsey That's weird, this location isn't used by the new version (/Android/data/com.waist.line/files/waistline_export.json)...

[2021-03-29 22:31] JackElsey commented on #217
Even weirder: When I install Waistline from Play Store that directory is empty and the app doesn't have any of my food items.

[2021-03-29 22:34] davidhealey commented on #217
@JackElsey I have no idea what's happening with your device :)

[2021-04-05 07:50] VMichailidis opened #228 "searching does not work with greek characters"
I have a bunch of food names in greek and the search function doesn't seem to work.

[2021-04-05 14:30] davidhealey commented on #228
Hello,

Could you give me an example search term that doesn't work?

[2021-04-05 14:40] VMichailidis commented on #228
Hello,
I've included 3 sets. One with the contents of my catalog, one of me searching for the initials of an item that's at the top of the list (capital letters included), and one with me doing the same search with only lower case letters.

Cheers.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, 5 April 2021 17:30, David Healey ***@***.***> wrote:

[2021-04-05 14:46] davidhealey commented on #228
Where have you included them?

[2021-04-05 14:50] VMichailidis commented on #228
I accidentally embeded the pictures instead of attaching them. Now they should be attached

Sent with ProtonMail Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, 5 April 2021 17:46, David Healey ***@***.***> wrote:

[2021-04-05 15:03] davidhealey commented on #228
I'm still not seeing them. Could you just write the search terms that don't work so I can test them?

[2021-04-05 15:06] VMichailidis commented on #228
I have an item named "Παξιμάδι" and I tried searching "Πα" and "πα"

Also try this google photos link
https://photos.app.goo.gl/rsZzBMNxrv29eM9M6

Sent from ProtonMail mobile

\-------- Original Message --------
On 5 Apr 2021, 6:03 pm, David Healey < ***@***.***> wrote:

[view it on GitHub]: https://github.com/davidhealey/waistline/issues/228#issuecomment-813441326
[unsubscribe]: https://github.co

[2021-04-05 15:15] davidhealey commented on #228
Thanks, I'll look into this at the weekend and get it working if it isn't already (in the new version that is).

[2021-04-05 15:25] VMichailidis commented on #228
Appreciate it.
Cheers!

Sent from ProtonMail mobile

\-------- Original Message --------
On 5 Apr 2021, 6:15 pm, David Healey < ***@***.***> wrote:

[view it on GitHub]: https://github.com/davidhealey/waistline/issues/228#issuecomment-813447293
[unsubscribe]: https://github.com/notifications/unsubscribe-auth/AODCIHKNUKAB2JQ7OPU274TTHHHYTANCNFSM42MMM25A
[AODCIHMDSHDEKKBZNCEFKATTHHHYTA5CNFSM42MMM25K

[2021-04-06 13:39] longestmt commented on #217
@davidhealey Do you still need testers?

[2021-04-06 13:43] davidhealey commented on #217
Very much so. If you're willing please download the apk from here - https://github.com/davidhealey/waistline/issues/217#issuecomment-808997822

[2021-04-06 13:54] longestmt commented on #217
I get an error when attempting to install. I removed the existing version of the app and still receive an error.

[2021-04-06 14:02] longestmt commented on #217
![Screenshot_20210406-095211](https://user-images.githubusercontent.com/1509654/113723263-2d6d7480-96bf-11eb-917e-8226dbe8ea51.jpg)
Do I need to use adb to get a more verbose error than this?

[2021-04-06 14:05] davidhealey commented on #217
I've never seen such a useless error message before :) What device is that?

Yeah I think you'll adb to get something useful.

[2021-04-06 14:08] Cliveptr commented on #217
If you don't want to use adb you might be able to use something like [SAI](https://f-droid.org/packages/com.aefyr.sai.fdroid) to get a better error message.

[2021-04-06 14:25] longestmt commented on #217
Device is a Samsung Galaxy Note 9

Forgive me but what is the best way to 'listen' for a verbose error with adb?

[2021-04-06 14:26] davidhealey commented on #217
Use logcat - https://developer.android.com/studio/command-line/logcat

[2021-04-06 15:07] longestmt commented on #217
I couldn't get adb devices to show my phone. Similarly logcat couldn't see it either.

I WAS able to get the app installed though thanks to @Cliveptr 's suggestion.

App loads with splash screen

Functionality tested:
- Settings: Theme
- Settings: Diary > Categories
- Settings: OpenFoodFacts login (Failed)
....
App requested file permissions and then showed a white screen. App will only show white

[2021-04-06 15:10] davidhealey commented on #217
I've seen this reported before by Samsung users. If you use Chrome you can check the console in the Chrome inspect tool.

[2021-04-06 15:49] JackElsey commented on #217
This was the same error I was getting, and I'm using a Google Pixel 4a.

[2021-04-06 15:57] davidhealey commented on #217
The error is caused by something failing at start up. I need someone to get the output from either logcat or chrome so that I can find out what is causing it and fix it.

[2021-04-07 08:53] pierre-si commented on #217
I also had a white screen anytime I launched the app (except for the first launch, during which the app seemed to work normally), but I can reveal the navigation drawer by swiping my finger and after selecting an entry it works as expected (until I launch again or switch apps).
The app does not create /Waistline/Database Backups though (even after giving the permission to write files).

[2021-04-07 10:49] davidhealey commented on #217
Thanks, that's very interesting. So it seems on some devices Waistline isn't able to create its backup folder. This gives me a starting point. Did you get any log data from chrome?

[2021-04-07 20:51] Cliveptr commented on #217
Where does the old version export the data to?

[2021-04-07 22:34] davidhealey commented on #217
I can't remember, but I think it says in the user guide

[2021-04-08 07:23] yekteniya commented on #217
I think it is in Android/data/com.waist.line/files/waistline_export.json

[2021-04-20 18:42] huuhaa opened #229 "What is preferred way to translate 2021?"
I checked at crowdin and there seems to be nothing to translate, also many languages at 0%. So what is preferred way to translate your app in 2021?

[2021-04-20 19:20] huuhaa commented on #218
Could that top bar have alternative option:

Show horizontal bar for some basic information like calories, protein, carbs, fat & fibre?

At least the ones of those user has set a goal. If using this,  showing target value and bar filing with color green (for example) and at the end of row somthing like 1500 / 1800 kcal and If eaten more that target, maybe red color for bar which continues over and

[2021-04-20 19:34] huuhaa opened #230 "Feature reguest: Add Fineli open data as data source"
I think it would be great if Fineli Open Data could be added as data source.

https://fineli.fi/fineli/en/avoin-data

Information about Fineli:

https://fineli.fi/fineli/en/tietoa-palvelusta

Benefits of adding this:

User wouldn't need always scan barcode and going throught the hassle of adding new food. I know this is possible now too, but even then you have to know nutrients of food. By using F

[2021-04-20 21:00] davidhealey commented on #230
Currently you don't "have" to scan a food, you can type in the search as you've suggested. I'm not opposed to adding another data source though. Does Fineli have a web API or is it an offline only database?

[2021-04-20 21:03] davidhealey commented on #218
That's how it currently works, and then you swipe to show macros.

Can you provide an image of your idea so I can understand it better?

[2021-04-20 21:05] davidhealey commented on #229
Somebody else setup the Crowdin thing and I don't know how it works. But for the time being no-one should be doing any translation until v3 is ready, there will be a lot of differences with the previous version.

[2021-04-21 05:44] yarons commented on #229
I'm here, I'm open for modifications if it's not working, I think I've made some mistakes while setting it up.

@davidhealey when can we talk?

[2021-04-21 10:04] davidhealey commented on #229
@yarons Send me a message, I'm always around :)

[2021-04-21 11:03] huuhaa commented on #230
Hmm.. Strange. Now search seems to work, but previously I couldn't find anything, if I writed general item like coffee etc. For that reason I thought search was available only for foods added to local food database.

Anyway I did ask from Fineli about web API.

[2021-04-21 11:06] huuhaa commented on #229
OK I'll wait here to see if there was some problem which got solved. @yarons you probably will update information here? When everything solved, I will start translating.

[2021-04-21 12:10] huuhaa commented on #218
Ok, here is quick mockup. If using only 3 basic like in 1st screen of gif, those "proggress bars could be below information fields.

By current version I meant the one available at F-Droid by now. If trying to add those horizontal lines to same space you used at that gif, it will probably be too thight, even thought there's room for adjustments at this quick mockup. But even this quick and dirty v

[2021-04-21 12:46] yarons commented on #229
You can start working, your work will be directly contributed to the repo anyway.

[2021-04-21 13:05] davidhealey commented on #229
@huuhaa Don't do any translating until V3 is released.

@yarons david@librewave.com

[2021-04-21 17:05] huuhaa commented on #229
OK, thanks for information, I'll wait for V3 then.

[2021-04-22 11:42] davidhealey commented on #218
@huuhaa Thanks for the image, now I understand the idea.

I don't like how much vertical space that layout requires. A similar option would be to use little donut charts but I think that would make the interface look a bit busy.

This is how it currently looks (in the development version) it achieves your goal but doesn't have the green bar:
![image](https://user-images.githubusercontent.com/14021

[2021-04-22 14:10] huuhaa commented on #218
Bar isn't so important after all (maybe change at eaten amount color to red if over target?), development version shows good and look is already similar with micro-nutrients layout. These are just matter of taste after all. I'm personally not fan of small, but wide horizontally scrollable list at vertical screen (no possibility to see big picture at glanse), but I can live with it.

I do have to s

[2021-04-22 14:14] davidhealey commented on #218
@huuhaa

Yes it does this.

All for are displayed automatically if your phone screen is wide enough (and on tablet I think it shows 5 or 6).

[2021-04-22 14:28] huuhaa commented on #218
That's great news. And like said, I can live with 3 too (I think I have Full HD resolution, not exactly sure cause current phone is more of /e/ OS than specs..). Now just waiting for release and then gonna start translation part. :)

[2021-04-25 19:44] davidhealey commented on #217
Hello,

I've managed to recreate the white-screen issue on my old Hudl2. I haven't fixed it yet though, however I have bypassed it so hopefully the APK I'm attaching to this post will not have the problem.

I think it's a permission issue triggered when the app tries to create an auto-backup of the database on load. So for now I've removed this functionality and (if you had this white screen issue

[2021-04-27 18:52] longestmt commented on #217
I'll try to get a more verbose error later when I'm connected to my computer but I'm unable to install the most recent APK. I get a message saying 'App was not installed'.

[2021-04-28 15:31] huuhaa commented on #229
Just double checking.. I got email couple days ago that there are new strings to be translated at Crowdin, is it based V3 language file or should I still wait and ignore that email?

[2021-04-28 15:35] davidhealey commented on #229
Yes, it's now V3. @yarons helped me set it up. The strings are still subject to change but it should be mainly adding new ones now rather than removing any, so feel free to start translating.

[2021-04-28 15:35] #229 closed

[2021-05-03 09:06] jfaltis opened #233 "Diary groups won't show when Diary is set to Start Page"
Since commit https://github.com/davidhealey/waistline/commit/c0ceb5346a24092ba8dcbb74f1ae6faaabd67927 the diary groups won't show when the diary is set as Start Page. They only show again when changing the date back and forth.

This is due to splitting the initialization logic into `app.f7.on("init", async function(event) {})` and `document.addEventListener('deviceready', function() {})`

Removing

[2021-05-03 10:29] davidhealey commented on #233
Thanks for the report, I'll fix this before the next build

[2021-05-03 12:19] huuhaa commented on #230
I continue this for 2 reasons.

1) I got reply from Fineli and
2) Eventhought search now does work, Fineli data would still be extremely useful at least in my country (Finland).

**First of all I just place terms of use here first.**

 The use of the material is governed by the terms and conditions specified by license: Creative Commons Attribution 4.0 (CC-BY 4.0). When used, the material or the s

[2021-05-05 16:47] jfaltis commented on #233
I also noticed that in this commit the minSdkVersion changed from 23 to 27. Is this just a temporary/accidental change or whats the reason for only supporting Android 8.1 and above?

[2021-05-05 19:30] davidhealey commented on #233
It's temporary. I was having trouble getting the dev version running on one of my devices, but the release version was working fine. The last release version had the minSdk set to v27 so I changed the dev version also to eliminate another variable while I'm debugging the issue.

[2021-05-06 16:18] 31j opened #239 "[Feature Request] Proper support for bilingual products"
When using the bar-code scanner the app arbitrarily picks French in place of English for the name of the product, while this isn't a problem in my case as French is my second language it could be problematic for people in Canada who only speak English (This problem most likely also exists in other multilingual countries).

Ideally I would either like to have two separate title fields (i.e "Title E

[2021-05-06 16:22] davidhealey commented on #239
What did you set your search country to?

[2021-05-06 16:37] 31j commented on #239
I set it to Canada. I also attached some examples. Is there any way to handle the language automatically? The other thought I had is basing it off of the system language so the user is presented with data in the proper language instead of showing both languages on the package.

![Screenshot_20210506-122546_Waistline](https://user-images.githubusercontent.com/32624322/117334029-115d1e80-ae89-11eb-8

[2021-05-06 16:41] davidhealey commented on #239
I'll have to check but I think the search country only applies to manual searches, not scans. I'll see which is more suitable, either applying the search country to scans or the phone's language, or perhaps a combination of the two.

[2021-05-07 13:14] jfaltis commented on #239
If the search language is also applied to scans it has to be ensured that the user has set it to his country (e.g. by auto detection or by an onboarding process). Otherwise a user who has not changed the search language can't find any products through scanning, because he is in a different country than the default and I don't think he will go into the settings to check for such setting.

[2021-05-23 03:44] jmfarina commented on #217
A little late to the party, but I'm also up to testing the latest version. Is there a newer release, or shall I try the one in your last comment?

[2021-05-23 11:20] davidhealey commented on #217
Thanks. Yes use the one from my last comment here.  I think we're pretty close to a new release, I just haven't had time the last few weeks to do much. I believe that the only major thing to do now is make sure data is imported from the old version correctly and resolve the permissions issue affecting some devices.

[2021-05-23 13:38] jmfarina commented on #217
Perfect, thank you.
How could I test that data is imported properly? are you talking about the use of export-import functionality, or rather that the upgraded app correctly imports the previous' version database?
In this last case, since I have F-Droid's version installed, I would have to wipe that version prior to installing this last one, due to the different signature, is that correct? if that'

[2021-05-23 13:53] davidhealey commented on #217
I'm talking about upgrading the app, and importing data from previous versions using the export-import functionality.

To test data migration you'd need to use the version on the Play store since that's the version I signed and uploaded.

[2021-05-24 12:19] bernharl opened #242 "[Feature request] Show day in Diary"
I get really confused while planning the coming week since only the date and not the day is displayed. Often my breakfast is the same every day of the week, so I mix up dates and add the wrong dinner to the wrong day etc...
Would be nice to have an option to show the name of the day (Mon - Sun).

[2021-05-24 12:30] jfaltis commented on #242
This is already implemented but no in the release yet, see https://github.com/davidhealey/waistline/pull/237.

[2021-05-24 12:49] #242 closed

[2021-05-27 16:40] jmfarina commented on #217
Hi! yesterday I had the chance to test the app briefly, here's what I did and what I found:

- Completely wiped F-Droid's version and installed it from PlayStore
- Added some data (actually, imported some basic data I had already loaded in F-Droid's version). This included:
  - Some goals
  - A couple of entries in Food tab
  - A meal
  - A recipe
- Then I proceeded to install your latest version,

[2021-05-30 01:53] asdomingues commented on #217
Hey! What an amazing work have you done. Congrats! :tada:

I've tested it too and was glad to find out there are now new nutrient categories, just like those in Open Food Facts. There seems to be a new way to integrate with data sources, which is neat and other great stuff.

Steps to test:

1. Export data from the last Waistline in F-Droid in a Xiaomi Mi A1 running LineageOS 17.1 (Android 10, micr

[2021-05-30 10:42] davidhealey commented on #217
@asdomingues Thanks for the detailed testing. You've caught a bug with that outer weight issue. If you want to fix it feel free and make a pull request. Otherwise I'll fix.

[2021-05-30 12:18] asdomingues commented on #217
OK, I'm fixing it today then! 🙂

[2021-05-31 00:07] asdomingues commented on #217
I'm checking if [this](https://github.com/davidhealey/waistline/pull/244) could be the reason for

Except by `weight`, which should be related to [the weight PR](https://github.com/davidhealey/waistline/pull/243/files)

[2021-06-03 11:45] davidhealey commented on #228
It works in the dev/new version so I'll close this issue

![image](https://user-images.githubusercontent.com/14021202/120639743-9841ee80-c469-11eb-9de8-74c6592ba8fc.png)

[2021-06-03 11:45] #228 closed

[2021-06-03 23:17] jmfarina commented on #217
Hi, I found one more issue that I think hasn't been mentioned yet: when attempting to create a new food to add to Open Food Facts, while trying to attach a photo, I can take the picture (that is, the camera opens just fine), but after taking the picture and accepting it, it says "There was a problem accessing your camera".
I *suspect*, though I haven't really looked at the code, so it's just a wil

[2021-06-04 09:25] davidhealey commented on #217
I wouldn't have thought it was related but anything's possible. If you have Chrome/Chromiun you can connect your phone and use the inspect tool to see if any errors are generated.

[2021-06-04 16:21] davidhealey commented on #217
@yekteniya In the latest commit I fixed importing of data from the old version, I was able to succesfully import the file you provided. It should also work when upgrading from a previous version.

[2021-06-04 21:47] yekteniya commented on #217
very exciting news! will be testing throughout the weekend for sure

[2021-06-04 23:41] davidhealey commented on #217
I'll post a build tomorrow. The only major thing I have to do before a release is ready is fix the backup export system which isn't working on some devices. There are a few smaller jobs to do to but that's the big thing.

[2021-06-04 23:42] davidhealey commented on #233
Fixed

[2021-06-04 23:42] #233 closed

[2021-06-04 23:44] davidhealey commented on #200
Seems like it should be possible. Not sure when this will be added to Waistline but for anyone who wants to give it a try before I get around to it I think you'll need this - https://www.npmjs.com/package/cordova-plugin-shortcuts-android

[2021-06-04 23:45] davidhealey commented on #208
I'm closing this issue since I can't reproduce it and therefore can't confirm any fixes I attempt.

[2021-06-04 23:45] #208 closed

[2021-06-04 23:45] davidhealey commented on #185
Closing this so we can focus on #218 which covers the same ground.

[2021-06-04 23:45] #185 closed

[2021-06-04 23:46] davidhealey commented on #183
Note to self - https://stackoverflow.com/questions/40984987/how-to-disable-beep-on-phonegap-plugin-barcodescanner-meteor-and-cordova

[2021-06-04 23:48] #165 closed

[2021-06-05 13:18] davidhealey commented on #239
I've added an dropdown list in the settings page where you can choose your preferred search lanuage. However I suspect a lot of items in the OFF database only have the details in a single language. For example your nutritional yeast is actually in the database with a French name listed as English.

![image](https://user-images.githubusercontent.com/14021202/120892986-c4e03c80-c608-11eb-9fe8-57378d

[2021-06-05 13:18] #239 closed

[2021-06-05 16:48] davidhealey commented on #217
New build. Please test.

Things I'm particularly interested in:

- Upload to OFF, especially with images and with your own account if you have one
[app-release.zip](https://github.com/davidhealey/waistline/files/6602896/app-release.zip)
- this is using the real OFF server so don't spam it, only attempt to upload genuine, useful data.
- White screen issue on open
- Backup/restore
- Restoring backup

[2021-06-06 07:18] RKCZ commented on #217
Hi, I tried to upload new food item to OFF with the new build. I have my own OFF account and I have the credentials in settings. I added a main photo and photo of ingredients. When I hit the upload button, a throbber appeared but it did not stop. After two minutes or so when I was sure that it's not possible for the upload to take so much time I had to escape the unresponsive screen by pressing th

[2021-06-06 10:55] davidhealey commented on #217
@RKCZ Thanks, I'll take a look today.

[2021-06-06 19:11] davidhealey commented on #217
@RKCZ I've fixed those issues. I'm not sure what was causing the loading indicator to hang on your device as I couldn't recreate that problem, but hopefully it won't happen with the fixes I've implemented. Let me know how this new version works for you.

[app-release.zip](https://github.com/davidhealey/waistline/files/6604733/app-release.zip)

[2021-06-07 18:19] yekteniya commented on #217
@davidhealey in the release from two days ago, it seems like when I'm importing a backup from the older version (2.9.2) only the foods are imported. So neither recipes, nor meals or diary are getting imported. Is this something you have experienced with my old database?

[2021-06-07 18:28] davidhealey commented on #217
For me everything imported. Do you mean v2.4.2?

[2021-06-07 18:51] yekteniya commented on #217
Yes, sorry, meant v2.4.2. And that's weird, I have a backup from the 29th of march, which should be the one I sent you and it is not working fully either. I'll see if I can get some logs tomorrow, hopefully with adb logcat or chrome inspect is enough to get some useful info

[2021-06-07 18:58] davidhealey commented on #217
Yes some debug info would be very helpful. I've only tested on one device, I'll try my other one at the weekend.

[2021-06-07 21:13] yekteniya commented on #217
![image](https://user-images.githubusercontent.com/52610846/121086844-f82af300-c7e3-11eb-9e09-b4c8bb3bc9b8.png)

Logcat (pidcat in this case) looks like it isn't giving any clear error or warnings from the import. The log above was obtained in a clean installation of the app and the red arrow shows the point at which I import the backup, so no log messages are being shown from to the importing. Wh

[2021-06-07 21:49] davidhealey commented on #217
The backup file should be called waistline_backup.json. What we're seeing there is the auto backup which is created when the app is loaded. How are you importing the backup?

[2021-06-07 22:32] yekteniya commented on #217
I'm running the action after that, it's just a coincidence because I started the import after starting the app. So the importing is happening between the TEST message and the cr_AwAutofillManager message.

I am copying the waistline_export.json into the files folder and then clicking import from backup. It is loading the food database, so I figured that couldn't be the issue

[2021-06-07 22:35] davidhealey commented on #217
Strange, I'll do some more tests and see if I can work out what's going on.

[2021-06-08 09:57] anyone27 opened #245 "Clarify and/or allow different measurments for goals and macro-nutrients"
Would it be useful/beneficial to clarify either explicitly, or allowing options for how to determine goals and macro-nutrients?

For instance, the calories goal is fairly self explanatory but protein/carbs etc. could be measured in grams or percentage of daily intake.

I appreciate the second of these two approaches would require different calculations within the app, but specifying the units may

[2021-06-09 06:40] RKCZ commented on #217
Hi, just wanted to tell you that with the new version I can log into the OFF account and the switched photos are resolved as well. First time I tried it, there was still the loading indicator until I closed and reopened the app but next time it disappeared after a few seconds with message about successful upload, so the hanging indicator might be caused by some network issue.

[2021-06-16 03:11] asdomingues opened #247 "Create docker files to have a deterministic testing environment for contributors"
Would it be helpful if we had a Dockerfile to easily test or reproduce small bugs?

This wouldn't replace tests in specific devices or need for _logcats_ when reporting bugs, but would improve testing new features and possibly help newcomers in setting up the environment and running the project.

I've already [created one and it is working for browser](https://github.com/asdomingues/waistline/tree

[2021-06-16 11:32] davidhealey commented on #247
I don't know what docker is, if it's something useful we can add it to the repo but I won't be maintaining it.

[2021-06-16 13:16] davidhealey commented on #247
You asking me?

[2021-06-16 15:32] yarons commented on #247
Nope, the reporter :)

[2021-06-16 16:18] asdomingues commented on #247
Hey, I should have at least described what Docker is: my bad!

It is a tool to build containers (similar to virtual machines) by describing how they should be "lifted up" in a Dockerfile. For example: telling which operational system to use, which tools to install (like openjdk8 to use android SDK) and what to run once the container is up. It is useful in my case because I don't have Gradle, Andro

[2021-06-17 02:23] asdomingues commented on #247
It's now also working for Android. I need to do some code gardening and to describe how it was done correctly yet. But it works: I've generated an Android App and ran it successfully on my device. Although there is that unsigned app notice that @davidhealey mentioned once. Now I think it is possible to compile different versions of the app according to the commits and test db migration.

I've used

[2021-06-19 11:25] davidhealey commented on #217
@yekteniya I can confirm the import issue.

[2021-06-19 15:07] davidhealey commented on #217
@yekteniya Please try this version. I noticed with your backup file being quite large it took around 30 seconds to import on my old tablet.

[app-release.zip](https://github.com/davidhealey/waistline/files/6680895/app-release.zip)

[2021-06-20 20:50] yekteniya commented on #217
@davidhealey Using the version you uploaded yesterday, I can import from the older version and see all the logs in the diary, so very good news! Some things I've noticed that I should point out:

1. Meals and recipes are getting imported but without the foods. So what is being imported in meals and recipes are:
   - Meals: Name
   - Recipes: Name, serving size, serving unit and notes

2. I don't k

[2021-06-20 20:55] davidhealey commented on #217
@yekteniya Thank you for the update, I'll check out those two issues and hopefully we'll be ready for release once they're fixed.

[2021-06-23 04:35] hearmeinteract opened #248 "Database lost?"
Hi. I use the android app (installed via fdroid) since years on an almost daily basis. Now it seems that the database has been corrupted somehow. II ccan't see any of the recorded values anymore and also the food entries are all gone. The app folder in Android/data is empty. What could cause this and is there a way to recover the DB (or at least the food list)?

[2021-06-23 06:02] hearmeinteract commented on #248
Now discovered a similar post from 2019 (https://github.com/davidhealey/waistline/issues/201), so in case the issue and potential solution remains the same, this thread may be closed.

[2021-06-23 10:37] #248 closed

[2021-06-27 11:04] JPFrancoia opened #249 "Instructions to build apk (or dev release)"
Hi,
I've been using waistline for some time now, but I'm really interested in a feature that is only in dev for now. I'm talking about tracking the macros per day (e.g: amount of protein consumed per day, with the target threshold). Sadly I don't know much about Android development and I can't figure a way to build the apk. Could we add some instructions to do so? Or maybe you could build a dev ap

[2021-06-27 11:54] davidhealey commented on #249
Hello,

Adding build instructions isn't a simple process because you need to have Cordova and Android Studio installed and setup correctly which is beyond the scope of a readme.

You can find more information here - https://cordova.apache.org/docs/en/10.x/guide/cli/

There is a build of the development version available near the bottom of this thread - https://github.com/davidhealey/waistline/issu

[2021-07-03 14:53] davidhealey commented on #217
@yekteniya I've (hopefully) fixed the meal/recipe importing and a couple of related bugs. I haven't looked at the stats thing yet. Let me know how this version works for you.

[app-release.zip](https://github.com/davidhealey/waistline/files/6758579/app-release.zip)

[2021-07-03 21:07] yekteniya commented on #217
@davidhealey looks like the meal/recipe importing has been fixed, so it's looking great!

I will be now be changing to this version of the app for good, so I will be paying close attention in case I see any bugs in my daily use. So far the only one I've noticed (apart from the stats one) is the following:

- In the recipes section only the first recipe is shown. When using the search bar I can fin

[2021-07-03 21:17] davidhealey commented on #217
@yekteniya Thanks for the report. I'll fix that recipe issue tomorrow and perhaps the stats too

[2021-07-03 22:27] davidhealey commented on #217
@yekteniya I decided to have a quick look at those issues and they're both fixed (actually they were caused by the same bug so I only had to make one little change).

I'll aim for a new release next weekend, assuming no major bugs are reported in the next week. :D

[app-release.zip](https://github.com/davidhealey/waistline/files/6759124/app-release.zip)

[2021-07-04 17:41] yekteniya commented on #217
@davidhealey In this last release (the one were the two bugs were fixed), I've found a couple of bugs:

- Proteins and carbs are not being imported from foods from previous version
- After adding a food to the diary, if the serving size/number of servings is modified, the daily calorie/protein/carbs.. count is not updated

[2021-07-04 18:18] davidhealey commented on #217
@yekteniya Thanks, I'll check it out.

[2021-07-08 15:09] joshuakraemer commented on #217
Thanks for this great app! I have tested https://github.com/davidhealey/waistline/files/6759124/app-release.zip and found two problems with uploading to OFF:

- Nutrition facts entered as "0" are omitted
- UTF8 text is not transferred correctly, e.g. "Süssli" ends up as "S�ssli" ("ü" replaced with replacement character)

[2021-07-08 15:13] davidhealey commented on #217
@joshuakraemer

What's the point in storing 0s?

Thanks, I'll check it out

[2021-07-08 15:14] joshuakraemer opened #250 "Feature request: Change title of food editor to make it clear which item is being edited"
At the moment, food quantities can only be specified as number of servings (in the diary and in recipes). Could you please add the possibility to specify quantities in the product's base unit (e.g. g or ml) as well?

[2021-07-08 15:21] joshuakraemer commented on #217
To differentiate "0" from "missing information".

[2021-07-09 16:56] lumbo7332 opened #251 "Can't copy/paste into text fields"
I'm using the latest build from #217. When typing in any text field, I can't long press or use my keyboard actions to copy or paste text. I'm on Android 10, pretty close to stock, on the OnePlus Nord N10 5G.

[2021-07-09 16:59] davidhealey commented on #251
Waistline doesn't have a clipboard implementation. However there is a plugin for it that someone (could be me) can implement in the future.
https://www.npmjs.com/package/cordova-clipboard-api

[2021-07-09 23:36] davidhealey commented on #217
@joshuakraemer I've fixed the 0 value thing. UTF8 text is being handled ok in the browser, I'll test on an Android device soon.

![image](https://user-images.githubusercontent.com/14021202/125144763-ce345b80-e116-11eb-9028-136d9e30fb72.png)

[2021-07-13 15:16] longestmt opened #252 "Anyway to place .json file in backup location without root?"
I just moved to a new phone and am trying to restore my waistline data but do not have access to the com.waist.line directory because it is a system directory.

I've tried file explorers and linux CLI via adb.

Whats the preferred method to do this? Am I better off starting from scratch if I can't root?

[2021-07-13 15:35] davidhealey commented on #252
Hello,

I didn't know that directory required root. I'll see what I can do about using a more accessible location. Ideally I'd like to use a file browser that lets you select the file from any folder but so far I haven't found a pre-built implemenation and I don't want to roll my own for just this one task.

[2021-07-13 21:52] EmilJunker commented on #217
Hi, I just downloaded the latest version you uploaded (the one from July 4) and installed it on my phone (I upgraded from the current Play Store version).

Overall, it's looking good but I noticed a number of problems that I think should be addressed before the release.

1. Carbs, Proteins and Sugars aren't imported from the previous version (not even when I explicitly import from the old backup f

[2021-07-13 21:57] davidhealey commented on #217
@EmilJunker Thanks for your feedback, I agree with everything (some have already been mentioned in this thread too). Could you split these things off into separate github issues so we can track them as each is fixed?

[2021-07-13 22:20] longestmt commented on #252
Hi David - My new phone is an S21 Ultra and I'm having a very similar issue migrating my workout files for another app. After doing some troubleshooting research I learned that Android 11 has added root restrictions on directories that were previously accessible. I have a feeling this is the cause of the issue and is going to annoy a lot of developers.

[2021-07-14 08:06] EmilJunker opened #253 "[New app version] Import issue"
When upgrading to the new version, Carbs, Proteins and Sugars aren't imported from the previous version (not even when I explicitly import from the old backup file).

[2021-07-14 08:06] EmilJunker opened #254 "[New app version] Issue with capital letters in food/meal/recipe/brand names"
In the names of food items, meals, and recipes, and also in brand names, capital letters in the middle of words are displayed as lowercase letters.

For example, if I add a food item named "Kokos-Reis-Drink mit Mandeln" of the brand "BioBio", it is displayed as "Kokos-reis-drink mit Mandeln" and brand "Biobio".

[2021-07-14 08:06] EmilJunker opened #255 "[New app version] Day/category count not updated after serving change in Diary"
If the serving size or the number of servings of a food item in the Diary is modified, the calories/proteins/carbs... count for the day and for the category aren't updated.

[2021-07-14 08:07] EmilJunker opened #256 "[New app version] Hitting phone's back button can lead to unexpected behavior"
The dialog box "Are you sure you want to delete this item?" cannot be dismissed by hitting the phone's back button.

When doing a search in the Foods menu, pressing the phone's back button exits the entire app instead of just closing the search.

[2021-07-14 08:08] EmilJunker opened #257 "[New app version] Item names with non-ASCII characters imported from previous version are not searchable"
The previous (or should I say current) verson of the app had problems handling non-ASCII characters (such as ü). For example, if I added a food item called "Schokomüsli" and then tried to search for it by entering "schokomü", it wouldn't show up in the search results (it would show up when I just search for "schoko" though).

In the new app version, this issue seems to be fixed. Adding new food it

[2021-07-14 08:09] EmilJunker opened #258 "[New app version] Too many nutrients"
While it's great that the new version supports a wider variety of nutrients (such as mono and poly fat and many vitamins), I must say that 99% of the time I only care about the 8 standard ones:

- Calories
- Fat
- Sat fat
- Carbs
- Sugars
- Fiber
- Proteins
- Salt

Note that I prefer them exactly in this order because this is how they are listed on products in the EU.
-> see https://www.fsai.ie/up

[2021-07-14 08:09] EmilJunker opened #259 "[New app version] Statistics screen does not remember choice of chart type"
The Statistics screen doesn't remember my choice of chart type. I prefer the line chart over the bar chart, but every time I restart the app, it displays the bar chart again.

[2021-07-14 08:09] EmilJunker opened #260 "Diary page scrolls up by itself after deleting an item"
After deleting an item from the Diary, the page always scrolls up to the very top of the list by itself. This didn't happen in the previous version of the app and it's pretty annoying.

[2021-07-14 08:10] EmilJunker commented on #217
done

[2021-07-16 09:46] f1reflyyyylmao opened #261 "Add some way to donate"
I'm using the old f-droid version of your app regularly and it helped me a lot with getting my eating habits under control. I'd like to donate some money to you to show my appreciation, but I don't see any way to do so. I saw that you decided to not publish a monero address a while ago, but it'd still be great if you could maybe give your users an alternative.

[2021-07-16 10:06] davidhealey commented on #261
Thanks, I'm glad you've found it helpful! There is a [paypal link](https://www.paypal.me/healeyd) near the bottom of the readme in this repo.

[2021-07-16 10:07] f1reflyyyylmao commented on #261
Oh right, sorry. Must've missed it.

[2021-07-16 10:07] #261 closed

[2021-07-16 19:07] joshuakraemer commented on #217
I tried to upload another product and got the same problem. I entered "Gemüsesuppe" in the app, but it appears on Open Food Facts (and also in the app after rescanning the barcode) as "Gem�sesuppe", see https://world.openfoodfacts.org/product/9008619008999/gem%EF%BF%BDsesuppe-bio4well.

[2021-07-16 19:14] davidhealey commented on #217
@joshuakraemer

Aha I didn't realise it was an upload issue.

[2021-07-17 11:22] davidhealey commented on #255
Fixed

[2021-07-17 11:22] #255 closed

[2021-07-17 11:30] davidhealey commented on #254
Fixed

[2021-07-17 11:30] #254 closed

[2021-07-17 12:00] davidhealey commented on #259
Fixed

[2021-07-17 12:00] #259 closed

[2021-07-17 14:51] davidhealey commented on #258
I've implemented this now, except for the ability to re-order them which would require additional work which I'm not going to do any time soon. I suggest making a separate issue specifically for the re-ordering feature.

There's now a list in the settings page to choose which nutriments are displayed in the food editors, this doesn't affect the stats screen. I've added a button to each item in the

[2021-07-17 14:51] #258 closed

[2021-07-17 15:14] davidhealey opened #262 "Fix meal and recipe totals not being updated when adding/removing items"

[2021-07-17 15:18] davidhealey commented on #262
Well that was easy

[2021-07-17 15:18] #262 closed

[2021-07-17 22:33] davidhealey commented on #253
Fixed https://github.com/davidhealey/waistline/commit/c6a9ed9311505d1210500b0b9aeaa55748810771

[2021-07-17 22:33] #253 closed

[2021-07-17 22:48] davidhealey commented on #256
Done https://github.com/davidhealey/waistline/commit/568332c697a32d145770731db4f4c37c53f57302

[2021-07-17 23:02] davidhealey commented on #256
And done the searchbar clearing thing - https://github.com/davidhealey/waistline/commit/e1f4e5be21fad0c806febd0fb10c3c7ec0e0f93e

[2021-07-17 23:02] #256 closed

[2021-07-18 07:50] EmilJunker opened #263 "Order of nutrients"
Different countries have different regulations for nutrition labelling. For example, in the European Union, nutrients are always listed in this order:

- Kilojoules / Calories
- Fat
- Sat fat
- (Monounsat fat)
- (Polyunsat fat)
- Carbs
- Sugars
- (Fiber)
- Proteins
- Salt
- (Vitamins, minerals etc.)

However, the order in other countries may vary.

Currently, Waistline uses a fixed order for the t

[2021-07-18 10:37] davidhealey commented on #263
I'm going to make the master list sortable and the order you set there will be used everywhere else.

![Peek 2021-07-18 11-36](https://user-images.githubusercontent.com/14021202/126064095-d7800025-a451-48dd-b85b-6267179ce4e8.gif)

[2021-07-18 11:13] davidhealey commented on #263
Done https://github.com/davidhealey/waistline/commit/1bbfe5a56cef80c86ac6e43d66a3e9e83ce9af8a

[2021-07-18 11:13] #263 closed

[2021-07-18 12:29] davidhealey opened #264 "Add switch to toggle auto-backup"
There are some directory permissions issues with Android API30 that there doesn't appear to currently be a solution for. The simplest way to bypass this is to disable parts of the program that require access to those directories. So I'll add a button to disable auto-backups and that will hopefully allow the app to be usable (without backups) on devices that have these permission issues.

In the fu

[2021-07-18 21:25] davidhealey commented on #264
Done https://github.com/davidhealey/waistline/commit/bcd8f32035e725b0d469ec63b2c71a3a3a571e0d

[2021-07-18 21:25] #264 closed

[2021-07-18 22:28] davidhealey commented on #257
Done - https://github.com/davidhealey/waistline/commit/a40ce415526b091969f91c1f8119d3c34be326a3
Also fixed UTF8 header for uploads - https://github.com/davidhealey/waistline/commit/67a08591d0723336a84a959eb67b8339b8f1e035

[2021-07-18 22:28] #257 closed

[2021-07-18 22:30] davidhealey commented on #252
I haven't found a solution for this yet, I think I'm going to have to wait for an update to the cordova file plugin. In the meantime it's possible to [bypass the auto-backup](https://github.com/davidhealey/waistline/issues/264) so the app should at least load, but manually exporting/importing from a file probably won't be usuable on Android 11+ until it's fixed in Cordova. I'll leave this issue op

[2021-07-18 22:31] davidhealey commented on #250
This is already possible in the current develop version, unless I'm misunderstanding what you want...

[2021-07-18 22:31] #249 closed

[2021-07-18 22:34] davidhealey commented on #182
I'm pushing test version to this issue - https://github.com/davidhealey/waistline/issues/217 - so if you want to test I suggest you download from there. A new release should be out soon though.

[2021-07-18 22:40] davidhealey commented on #217
Added a lot of goodies this weekend - see the [commit history](https://github.com/davidhealey/waistline/commits/master) for details.

I'm really hoping this is everything fixed up now for a release next week!

Things that should be tested:

- New nutriments options in the settings screen. Nutriments can be re-ordered by tap-holding on items in the list.
- Uploads with non-ascii characters
- Import

[2021-07-19 02:07] asdomingues commented on #247
Hey @davidhealey and @yarons ! Life happened... But now I was able to test the android, browser and interactive containers. All went well, and I added a section in _Contributing.md_. :tada:

[2021-07-19 06:31] yarons commented on #247
Hope you're doing well, thank you for your contribution!

[2021-07-19 07:48] EmilJunker commented on #217
You are amazing, thank you so much!

I tested all the points you mentioned (except for uploading to OFF) and everything worked as expected. I only noticed two minor bugs.

1. For food items imported from the previous version that weren't added through OFF (so they don't have product images), empty placeholder images are displayed instead:

![Screenshot_20210719-090243](https://user-images.githubus

[2021-07-19 09:46] #247 closed

[2021-07-19 10:35] davidhealey opened #266 "Stats show as undefined on first use"

[2021-07-19 10:35] davidhealey opened #267 "Link button should be hidden in food editor for new items"

[2021-07-19 11:13] davidhealey commented on #267
Done https://github.com/davidhealey/waistline/commit/bc8c3c25055fbebc94e3791247af3a02f739a82d

[2021-07-19 11:13] #267 closed

[2021-07-19 11:14] davidhealey commented on #266
Done https://github.com/davidhealey/waistline/commit/6407127c8682a6ea834fb49ea20e15bd87ed9874

[2021-07-19 11:14] #266 closed

[2021-07-19 11:17] davidhealey commented on #217
@EmilJunker Thanks for the reports. I've fixed those issues (I hope).

When the link button is active changing the portion/serving or a nutriment value with update all of the others. The link button should only be visible when editing existing foods but I saw it was also visible for new foods so I've hidden it now. Also if you're editing a food from the diary, meals, or recipes the button is hidde

[2021-07-19 12:44] EmilJunker commented on #217
The issue with missing calories and kilojoules is fixed 👍

But the placeholder images were still there for me after I upgraded from the current Play Store version to the new one. They only disappeared when I manually imported from the old backup file.

Also, I noticed two more bugs while testing:

- The option to sort foods by last used doesn't seem to work. When I add a food item to the diary, I

[2021-07-19 22:19] davidhealey commented on #217
@EmilJunker I think I got those issues now - let me know if I introduced any new ones :p
[app-release.zip](https://github.com/davidhealey/waistline/files/6844195/app-release.zip)

[2021-07-20 08:34] EmilJunker commented on #217
Looking good. I've tested it all morning and didn't encounter any bugs. I'm staying on the new version now to see if everything works in my daily use.

Thank you very much for all the time and effort you invest in developing this app! I will make sure to donate some money when the new version is released.

[2021-07-20 09:36] davidhealey commented on #217
@EmilJunker Thank you for testing it!

[2021-07-20 20:07] EmilJunker commented on #217
After using the new version for a day, I noticed a few more (mostly small) bugs:

- When I set the number of servings to something less than 1 (for example when I eat half an apple I would set it to 0.5) then the number of servings isn't shown in the diary. It's only shown when the number is greater than 1.

- On the USDA API settings page, it says "You can request a free API Key by clicking _here

[2021-07-20 21:15] davidhealey commented on #217
@EmilJunker Thanks I'll check it out at the weekend.

Not sure about the Edit/Add item thing, technically you're editing the data that was retrieved from a database... sure it's not your local database but it's still pre-existing data.

[2021-07-20 21:32] EmilJunker commented on #217
That's true but I see two problems. First, this way I can't tell if the item I scanned is already in the local database or not. Second, since it's using the edit mode, the link button is enabled by default which is a bit annoying when I try to correct some of the information.

[2021-07-20 21:36] davidhealey commented on #217
@EmilJunker Aha the link button thing is definitely important. I think you make a good case for the add/edit thing, so edit will only be for local entries. Could you make individual issues for these two things so I can track them more easily? Thanks!

[2021-07-21 08:59] EmilJunker opened #268 "Number of servings is not shown when it's less than 1"
When I set the number of servings to something less than 1 (for example when I eat half an apple I would set it to 0.5) then the number of servings isn't shown in the diary. It's only shown when the number is greater than 1.

[2021-07-21 09:00] EmilJunker opened #269 "USDA API link not working"
On the USDA API settings page, it says "You can request a free API Key by clicking _here_" but nothing happens when I tap on the link.

[2021-07-21 09:00] EmilJunker opened #270 "Should use "Add New Item" instead of "Edit Item" when importing from OFF"
When I scan the barcode of a product that isn't in my local foods database yet, the page displayed says "Edit Item" instead of "Add New Item".

This way I can't tell if the item I scanned is already in the local database or not. Also, since it's using the edit mode, the link button is enabled by default which is a bit annoying when I try to correct some of the information (the values from OFF are

[2021-07-21 09:00] EmilJunker opened #271 "Diary date picker sometimes doesn't close"
Sometimes the date picker in the diary does not close after I selected a date. Steps to reproduce:

1. go to the diary
2. click the + button for any category
3. add some food (or immediately navigate back to the diary, it doesn't matter)
4. now open the date picker
5. select a date
6. -> the diary navigates to the selected date, but the date picker is still shown

[2021-07-21 14:06] joshuakraemer commented on #250
Ok, I think I understand now how it works: If you add a food from the local database to the diary, a copy of it is created in the diary. If you want to change the amount of the food added to the diary, you have to edit the copy in the diary after adding it and change "serving size" or "number of servings". I think this UI to adjust the amount of foods in the diary is confusing (at least it was for

[2021-07-21 14:10] davidhealey commented on #250
I understand now, you're using the release version from one of the app stores. The current development version, which will be the next release version works in a completely different way. There are no longer multiple copies of foods. You can follow the updates here - https://github.com/davidhealey/waistline/issues/217

[2021-07-21 14:23] joshuakraemer commented on #250
No, I am actually using the latest APK from https://github.com/davidhealey/waistline/issues/217.

When I add an item from the local database to the diary, I end up with a copy of the original food in the diary. If I change something in the diary (e.g. serving size), this change is not reflected in the original database entry.

If this is not how it's supposed to work, could you maybe explain how t

[2021-07-21 14:28] davidhealey commented on #250
Correct, but if you change it in the foodlist it will update in the diary. If it was the other way around then changing one diary entry would update all other diary entries and that's not good.

The diary doesn't keep it's own copy of the food. All it keeps is the id of the food and the portion/serving size info for that diary entry. The release version does make multiple copies though.

There is

[2021-07-21 14:33] joshuakraemer commented on #250
What happens then when I change one of the other fields (e.g. calories) in the diary? Does it create a copy then? Those changes are still not reflected in the food list.

[2021-07-21 14:37] davidhealey commented on #250
When you edit any of the nutriional info in the diary it will update the serving size.

So if you have an apple that is 100 calories and you enter 200 calories in the diary, the serving will be changed from 1 apple to 2 apple.

If you've made a mistake when entering the original food item and the 1 apple should have been 200 calories, then you can change that in the food list.

[2021-07-21 14:52] joshuakraemer commented on #250
I see, thanks for explaining it.

I think there should be a short readme text in the release version to explain how the food editor works, especially the linked and unlinked modes.

[2021-07-24 20:43] davidhealey commented on #268
Done https://github.com/davidhealey/waistline/commit/e69124749465b84bd7147b035f9c7d1053c5fb9e

[2021-07-24 20:43] #268 closed

[2021-07-24 20:51] davidhealey commented on #269
Should be fixed now but needs to be tested on Android device - https://github.com/davidhealey/waistline/commit/70f5a33ab441f2de252a1c1827136ba6381f495d

[2021-07-24 21:10] davidhealey commented on #250
Done the title thing - https://github.com/davidhealey/waistline/commit/d3a5bee311d2157afa1ed5bc74a773c250b11439

[2021-07-24 21:10] #250 closed

[2021-07-24 22:43] davidhealey commented on #270
Done the title - https://github.com/davidhealey/waistline/commit/c40f7a6a49cb04f6f5009344de61da5310be6ea2
Will work on the link button next

[2021-07-24 22:44] #270 closed

[2021-07-24 22:46] davidhealey commented on #271
This is a weird one, but I can replicate it exactly by following your instructions so shouldn't be too hard to resolve.

[2021-07-25 10:43] davidhealey commented on #270
I had another think about the link button for external DB items. Since we're treating them as "new" items to the local DB it makes sense to have the link disabled by default for consistency with adding new items manually.  https://github.com/davidhealey/waistline/commit/6c842fc2cca27bb274bc08e19324ef4dd538acf4

[2021-07-25 10:47] davidhealey commented on #271
Fixed https://github.com/davidhealey/waistline/commit/09a5f63970efa473eb8138ea953ae2d065df84df

[2021-07-25 10:47] #271 closed

[2021-07-25 11:00] davidhealey commented on #217
Fingers crossed that this is the last release candidate :)

[app-release.zip](https://github.com/davidhealey/waistline/files/6873753/app-release.zip)

[2021-07-25 11:22] EmilJunker commented on #269
Successfully tested it on my phone. The link works now 👍

[2021-07-25 11:22] #269 closed

[2021-07-25 21:33] EmilJunker commented on #217
I've been using the new version for the entire week and all the bugs I noticed (and reported) are now fixed. Great job!

I also was able to obtain an USDA API key now that the link is working. However, the lack of copy/paste functionality (see #251) makes it kind of difficult to enter the key into the app 😅. I tried to type it manually, but it doesn't persist when I restart the app. So I couldn't

[2021-07-25 21:38] davidhealey commented on #217
Yes.

Yep that's a bug.

I'll see what I can do

Another bug, should be an easy fix.

[2021-07-25 22:34] davidhealey commented on #251
I've had a look at this and I can't find a solution. The clipboard plugin doesn't seem to be an option because it requires you to manually implement copy/paste controls from what I can tell.

Cordova is actually supposed to have built in copy/paste but I can't get it to work. On my Android phone I can double tap some text in a text entry box which highlights it and I get the option to copy/cut/pas

[2021-07-25 22:58] davidhealey commented on #217
Right I've fixed the quick add kilojoule bug, and made a couple of other related small improvements.

I've fixed the USDA API key not being validated and saved.

Copy and paste is a dead end at the moment. It's partially working on one of my devices, but not on another. I didn't have to change anything to get it to work so that's something device specific. I've left the issue open, if anyone has a

[2021-07-26 05:24] EmilJunker commented on #217
Okay, quick add for kilojoule works, but due to rounding errors it always takes 1 unit more than what I entered. For example when I enter 200 kj it takes 201 kj.

My USDA key is now validated and saved, but the search integration still doesn't work for me. When I enable it in settings and do a search, the app gets stuck in an endless loading screen. Any ideas?

[2021-07-26 11:05] davidhealey commented on #217
@EmilJunker Those issues (and some others I found) should be fixed now

[app-release.zip](https://github.com/davidhealey/waistline/files/6877638/app-release.zip)

[2021-07-26 11:33] EmilJunker commented on #217
It's still not completely fixed. When I enter 500 kJ it now shows up as 499.99 kJ

But the USDA search integration is working great! I'm just not sure about the order of the search results. Currently, when I search for something like "apple", it first lists a bunch of not so relevant results from OFF. I have to scroll all the way down to get to the USDA results. Maybe the USDA results should be li

[2021-07-26 11:49] davidhealey commented on #217
We can try it and see how many people say it should be the other way :p

Darn, I thought I got it this time. Internally everything is stored in calories so it gets converted back and forth between the two units, but th calculations are the same on each side so it should work. I'll take another look.

[2021-07-26 12:05] davidhealey commented on #217
I've switched the order of the search results, I've also limited the results from USDA to the top 15, but this can always be adjusted if it's too limited (I could even add a user setting for it).

I can't recreate the 500kJ rounding issue, when I enter 500 in the quick add it shows 500 in the diary for me. I did make a slight adjustment to how the quick add quantity is handled internally. It shoul

[2021-07-26 12:54] EmilJunker commented on #217
I like it, this should work well for most use cases now.

Weird, the rounding issue is still there for me. I don't mind it since I never use the quick add feature and my energy unit is normally set to calories anyway, but it could be an issue for other users. Maybe just release it and see if someone complains...

[2021-07-26 15:13] EmilJunker commented on #217
Oh I just noticed that carbs and proteins are missing when importing items from USDA. That's because the USDA API calls them "Carbohydrate" and "Protein" so the matching fails for these two.

Vitamins are missing as well. I think that's because the USDA API calls it "Vitamin C" while Waistline calls it "vitamin-c".

Lastly, salt is missing too, but that's only because the USDA API is using sodium

[2021-07-26 15:50] davidhealey commented on #217
@EmilJunker Hmm I'll see what I can do. Waistline was made primarly for compatibility with OFF so it uses all of the names used by the OFF API.

[2021-07-26 16:00] davidhealey commented on #217
Do you know if there is a full list somewhere of all of the USDA nutriments?

[2021-07-26 16:05] EmilJunker commented on #217
No, I don't. But searching for "nachos" on the web API seems to return a pretty much complete list (at least all the important ones are there): https://api.nal.usda.gov/fdc/v1/foods/search?query=nachos&pageSize=1&api_key=<API_KEY>

[2021-07-26 16:07] davidhealey commented on #217
Thanks. I'll implement some kind of internal translator that will convert the USDA names to OFF names for storage within Waistline

[2021-07-26 16:53] davidhealey commented on #217
@EmilJunker Hopefully this will do, let me know. I've fixed a couple of other little bugs, as always. Think I've solved the rounding issue, although the unrounded value might still show in the food editor in some cases.

[app-release.zip](https://github.com/davidhealey/waistline/files/6879930/app-release.zip)

[2021-07-26 17:15] EmilJunker commented on #217
Unfortunately, it looks like the USDA search no longer works. The API key is set and verified in settings and the feature is enabled, but when I search for something, I only get results from OFF and nothing from USDA.

Yup, the rounding issue is fixed.

[2021-07-26 17:19] davidhealey commented on #217
Waa, something strange going on here :) Will be an easy fix

[2021-07-26 17:31] davidhealey commented on #217
Please tell me this works :)
[app-release.zip](https://github.com/davidhealey/waistline/files/6880145/app-release.zip)

[2021-07-26 17:39] EmilJunker commented on #217
It works! 🚀 🎆

[2021-07-26 17:41] davidhealey commented on #217
Woohoo! I'll push a new release very soon, perhaps tonight.

[2021-07-26 21:32] davidhealey commented on #217
New release is up on GitHub - https://github.com/davidhealey/waistline/releases/tag/3.0.0

I'll push to the Play store very soon and it will land in F-Droid whenever they pull it.

Thanks everyone!

[2021-07-26 21:32] #217 closed

[2021-07-27 23:14] davidhealey opened #273 "Goals such as Weight/Neck etc. Shouldn't be daily"
These goals currently are set by day which doesn't make much sense. Also these goals currently aren't used for anything so it's not a big deal.

[2021-07-28 15:46] longestmt opened #274 "App doesn't fill up the phone screen"
Just updated to the new version of the app and noticed that the app doesn't fill up my entire screen.

Device: S21 Ultra
Version: Android 11

[2021-07-28 15:48] longestmt commented on #274
![Screenshot_20210728-114650_Waistline.jpg](https://user-images.githubusercontent.com/1509654/127354224-33184683-543e-419e-b11a-b8e77d8d5186.jpg)

[2021-07-28 15:58] longestmt opened #275 "Unable to modify nutritional info for scanned items"
Thanks for the new app version! There are issues but I'll try to keep them documented separately with steps to recreate as best I can.
---
Just updated to the new version of the app and noticed that I'm unable to modify the nutrional information for an item after scanning the barcode. What's odd is I'm getting different results than I would have previously. Could this have something to do with the

[2021-07-28 15:59] longestmt commented on #275
Also what does the hyperlink icon in the top right during food editing indicate?

[2021-07-28 15:59] longestmt commented on #275
![Screenshot_20210728-114931_Waistline.jpg](https://user-images.githubusercontent.com/1509654/127356190-4504445e-b7f3-4774-9d03-9d70aa95d940.jpg)

[2021-07-28 15:59] davidhealey commented on #274
Yup that's a weird one

[2021-07-28 16:02] davidhealey commented on #275
Please see the release notes - https://github.com/davidhealey/waistline/releases/tag/3.0.0

This isn's something that came up during testing so I don't have much info to go on with solving it. It could be device specific or some Android 11 issue.

No, the barcode scanner only searches OFF. What is the difference in the data that you're seeing between the old and new versions?

[2021-07-28 16:36] faan11 opened #276 "Translation issue"
I tried the last version (v3.0) and i found that only the menu is translated. The rest is written in English language.
I'm using Android 10.
![image](https://user-images.githubusercontent.com/763700/127361664-8986ce94-76fd-4316-9e47-bb0d3028443a.png)
![image](https://user-images.githubusercontent.com/763700/127361687-abf111d5-b5f1-483d-a52c-0bdc9c1751da.png)

[2021-07-28 16:37] davidhealey commented on #276
Translations are added by the community, if you notice specific strings are missing from the source code let me know, but I don't handle individual languages.

[2021-07-28 16:46] jfaltis commented on #276
@davidhealey

Did you merge the Crowdin translation branch? I added German translations via Crowdin but only the menu is translated as @faan11 described, despite that I translated all other strings too.

[2021-07-28 16:50] davidhealey commented on #276
V3.0.0 has a new schema for the language files, so locales for the old version need to be updated to be compatible. If your German translation for V3.0.0 or the previous release?

[2021-07-28 17:08] faan11 commented on #276
I translated it 3 days ago, https://github.com/davidhealey/waistline/pull/272
Which schema I should follow to translate the application?

[2021-07-28 17:14] davidhealey commented on #276
@faan11 That's the correct one.

As you can see, some strings are missing from the Settings section. I'll need to add these to the template file (locale-en.json).

    "title": "Impostazioni",
    "needs-restart": "Riavvia l' applicazione per applicare le modifiche.",
    "theme": {
      "title": "Tema",
      "dark": "Modalità dark",
      "animations": "Disabilita le animazioni dell' interfacci

[2021-07-28 17:19] faan11 commented on #276
Ok let us now when the file locale-en.json is ready

[2021-07-28 17:38] longestmt commented on #275
On the older version when I scanned the same product I'd get a result that exactly matched the nutritional information. I've tested a few regional items that I presumably added to the DB and they work fine.

This is an example of a popular item that seems to have a conflict though. The serving size should be 2 Tbsp but instead it's bspg (??), the calories are incorrect etc. It would even be fine i

[2021-07-28 17:49] longestmt opened #277 "Add the ability to contribute financially"
As a long time user of the app I'd appreciate the ability to... well... show my appreciation! Something as simple as BTC, ETH and XMR donations would be great because you'd just have to post a wallet address. Fiat donations would be great too but would likely require a little more overhead as far as development goes.

[2021-07-28 17:52] jfaltis commented on #276
I translated it like 3 months ago, so I think it should also be version 3.0.0. I don't know if I am overlooking something but I think the https://github.com/davidhealey/waistline/tree/l10n_master2 branch needs to merged into master so the new translations are in the release.

[2021-07-28 17:53] davidhealey commented on #277
Thanks! I have a PayPal link on the [homepage](https://github.com/davidhealey/waistline#developer). I code post wallet addresses there too. I don't want to add it into the app itself though.

[2021-07-28 17:54] davidhealey commented on #276
@jfaltis I think you're right. I'll merge it into the master before the next build, thanks!

[2021-07-28 17:54] longestmt commented on #158
This would be awesome!

[2021-07-28 22:14] davidhealey commented on #276
I've just looked into this a bit further and it seems all the strings are actually there - so something else is the problem. I'll find out what it is and fix it.

[2021-07-28 22:44] davidhealey commented on #276
Ok I found the cause of the issue. I'll fix it soon, probably tomorrow.

[2021-07-29 09:47] EmilJunker opened #278 "Cooking instructions not saved"
Cooking instructions for recipes aren't saved when adding or editing them.

[2021-07-29 10:01] davidhealey commented on #278
Fixed https://github.com/davidhealey/waistline/commit/744a621d44ff38022bcc5db30fcdc54cf77f6187

[2021-07-29 10:01] #278 closed

[2021-07-29 10:04] davidhealey commented on #274
I think this is something to do with the viewport meta in index.html. Since I don't have a device (or emulator) with this issue I can't test it myself. I'll see if I can make a test app to narrow down this issue with various settings that can be tweaked and you can tell me if it works on your device. I won't have time to this for a little while though.

[2021-07-29 10:06] davidhealey commented on #274
On second thoughts maybe I just need to add `height=device-height` to the meta. We'll try that first.

[2021-07-29 10:19] Sokom141 opened #279 "Update F-Droid version"
Hi,
First of all thank you for your work on this app.

I was wondering if the F-Droid version could be updated now that there is the 3.0.0 release available.
It would be helpful to people that do not want to use the google alternative, thanks!

[2021-07-29 10:20] davidhealey commented on #279
You'll have to ask the folks at F-Droid. They have a system that should automatically pull the latest version from github, I don't know how often it does this.

[2021-07-29 10:20] #279 closed

[2021-07-29 10:21] Sokom141 commented on #279
Okay, thank you for your quick response!

[2021-07-29 14:50] davidhealey commented on #279
I think the release was missing some files that fdroid needs to do its auto-building. I'll push a new release at the weekend with the missing files and a few other fixes/updates.

[2021-07-29 16:38] EmilJunker commented on #276
I noticed a few things regarding the localization and since this issue is still open, I will just add a comment here. I hope that's ok.

Issue 1: The branch https://github.com/davidhealey/waistline/tree/l10n_master2 still includes the old locale files located at /www/locales and /www/locaes so every time you merge that branch into master, these files will be recreated. It's probably best to remove

[2021-07-29 16:43] davidhealey commented on #276
@EmilJunker Duly noted. I'll adjust that and update the old locale branch, I think it makes sense to remove everything from there except the locale files.

[2021-07-29 18:03] EmilJunker commented on #276
One more thing: The link to request a USDA API key is also localized, but there are two problems with this.

https://github.com/davidhealey/waistline/blob/f785c5225c2aa39da901eb65ec0a4118eae50ee4/www/activities/settings/views/integration.html#L545

Problem 1: The source code references the string "settings.integration.usda-note-1" but in the locale files it's called "settings.integration.usera-not

[2021-08-01 00:27] davidhealey commented on #276
@EmilJunker

This should fix the localization issues.

[app-release.zip](https://github.com/davidhealey/waistline/files/6911970/app-release.zip)

[2021-08-01 05:47] yarons opened #281 "Add Crowdin link"
Hey, I see great contributors who'd like to contribute translation and they are unaware of the Crowdin option, I think it's worth mentioning in the readme.

Thanks.

[2021-08-01 08:18] EmilJunker commented on #276
Yes, the localization is working now. But I noticed a few strings that aren't localized. Here's a (hopefully complete) list:

- the error message "no data" in the Diary (appears when requesting a pie chart for a day with no entries)
- the search box placeholder text "search" on the foods list page
- the string "show in statistics" in the Goals editor
- the string "show thumbnails" in diary setting

[2021-08-01 10:56] EmilJunker commented on #276
Also, importing and exporting no longer works in the version you uploaded. I guess there is an issue with the localized error/success messages, but I don't know for sure.

[2021-08-01 13:04] davidhealey opened #282 "Prevent strings being reread on every page load"
This doesn't affect functionality so isn't of major concern but it should be fixed. Currently every page load triggers the localization function which attempts to read the locale file. If it can't find the file it gives a console error.

What should happen is the locale file should be read once at startup and stored locally, preventing the repeated file reads and error messages.

[2021-08-01 16:18] davidhealey commented on #276
@EmilJunker

USDA link is fixed now, I did as you suggested and removed it from the localization since the URL is the same in all languages.

All of those missing localized strings plus a couple of others have been added.

I've improved the efficiency of the localization system. Previously it was re-reading the localization file on every reload, now it just does it once when the app is first opene

[2021-08-01 16:19] davidhealey commented on #282
Done https://github.com/davidhealey/waistline/commit/f7fc73cf0ecb3909fb31875a1f462a7c40225659

[2021-08-01 16:19] #282 closed

[2021-08-02 07:41] EmilJunker commented on #276
@davidhealey

Looks good. Importing/Exporting is working again and I didn't notice any bugs.

For some reason, the locale strings on [Crowdin](https://crowdin.com/project/waistline) are now split among two files. I don't know why this happened and I don't think it's a big problem, but it is a bit confusing. Maybe you can look into it...

In any event, I think you should wait a bit (at least a week

[2021-08-02 10:44] davidhealey commented on #276
@yarons Any ideas?

[2021-08-02 11:05] yarons commented on #276
The translations were pushed to the `main` branch while our working localization branch is actually `main_l10n3`.

We're also syncing the same file twice in the Crowdin integration, I can try and see if we can change it and if it's relevant to this case specifically.

[2021-08-02 11:07] davidhealey commented on #276
@yarons Thanks, that would be helpful, let me know if I need to do anything.

[2021-08-02 11:10] yarons commented on #276
Yup, we also need to remove `l10n_master2`, I removed `l10n_master` because it had no pending PRs but I can't remove the other one without closing the relevant PRs, should I just remove these?

[2021-08-02 11:28] davidhealey commented on #276
@yarons Yes it should be fine as I merged those changes locally already

[2021-08-02 11:34] yarons commented on #276
@davidhealey Done, what about all the other stale branches?

[2021-08-02 11:36] davidhealey commented on #276
@yarons If they're not causing any issues we can leave them

[2021-08-02 12:21] yarons commented on #276
Sure, I can't find the reason for the duplication in Crowdin but as lons as it's hidden I don't really care.

[2021-08-02 12:23] EmilJunker commented on #276
The `l10n_master3` branch is 4 commits behind `master`, maybe that's why?

[2021-08-02 12:39] davidhealey commented on #276
That branch will always be behind the master except for the locales which will always be ahead.

[2021-08-02 12:42] EmilJunker commented on #276
Yeah that makes sense. Then I'm out of ideas too.

[2021-08-02 13:27] yarons commented on #276
@EmilJunker

Can you try and switch to another language to see if it happens with other languages as well?

[2021-08-02 14:05] EmilJunker commented on #276
@yarons
It affected all languages. But it should be fixed in the latest version from https://github.com/davidhealey/waistline/issues/276#issuecomment-890548095 that added a bunch of new locale strings.

To check if all the strings are now localized, we would need to add the translations first. I just completed the German translation on Crowdin, so if @davidhealey would merge it into master and pub

[2021-08-02 18:48] MartinX3 opened #283 "New f-droid release"
Please update it to 3.0.0

[2021-08-02 19:23] davidhealey commented on #283
https://github.com/davidhealey/waistline/issues/279

[2021-08-02 19:23] #283 closed

[2021-08-03 10:42] julmis opened #284 "Possible url-encode problem"
It seems that login to openfoodfacts.org fails when password contains some %:^$@" or other special characters.

[2021-08-03 10:42] davidhealey commented on #284
Thanks for the report, I'll check it out

[2021-08-03 20:27] EmilJunker opened #285 "Use nutrition facts for the prepared product of OFF entries when available"
Open Food Facts differentiates between "nutrition facts for the product as sold" and "nutrition facts for the prepared product". Most products only specify nutrients "as sold", but for certain items (for example pudding powder), it's much more interesting to get the "prepared product" nutrients as I don't really care how much fat/salt/etc. is in the powder itself. After all, I'm not going to eat t

[2021-08-03 20:31] davidhealey commented on #285
Thanks, I'll add it to the list, definitely shouldn't return no matching results.

[2021-08-04 16:43] prysm1 opened #288 "Rescanning bar code does not download updated info from OFF"
This is probably a low priority
Deleting an item from the Food table and re-scanning of the bar code reuses the the old info.

Work around was to unlink the food entry and edit the information manually

[2021-08-04 16:45] prysm1 commented on #178
i second the generic notes field. I have been using the Serving Unit field to show volume to weight conversion example instead of just "g" for grams. I put "g (1cup/158g)"

[2021-08-04 19:13] davidhealey commented on #288
The intended behaviour is to first search the local database, if no result is found it then searches OFF. When item's are deleted they are not really deleted, they are marked as archived and hidden. This means they'll still show up in historic diary entries and statistics.

I could change the behaviour for archived items so it searches OFF first. What do you think?

[2021-08-04 19:49] prysm1 commented on #288
The current behaviour is probably ok. As i am a very new user of waistline and not sure how everyone else is using it.
The reason i noticed this is, I find that some of the entries from OFF are not very good(my opinion only). So i tried to fix the entry  through the OFF website and then wanted to sync the new information.

I think will just close this for now. I think the work around is good enoug

[2021-08-04 19:56] davidhealey commented on #288
I like the idea, it makes sense to me, so let's reopen this

[2021-08-04 20:11] prysm1 commented on #288
ok. we would probably need a way to determine which data source is newer, otherwise it might clobber each others data.

[2021-08-06 06:09] dharwood opened #289 "Tag latest release for F-Droid"
I noticed that F-Droid still hasn't picked up the update yet, so I went poking through things on their side. Looking at the [metadata for Waistline](https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/com.waist.line.yml) and the docs for [UpdateCheckMode](https://f-droid.org/en/docs/Build_Metadata_Reference/#UpdateCheckMode), my guess is that F-Droid's updater is looking for the most recen

[2021-08-06 09:22] davidhealey commented on #289
https://github.com/davidhealey/waistline/issues/283
https://github.com/davidhealey/waistline/issues/279

I'll leave this issue open to (hopefully) stop other people asking the same thing :p

[2021-08-07 09:04] faan11 commented on #276
ok i'll change and propose a pull request about the file it-locale.json  in the master branch.

[2021-08-07 09:07] EmilJunker commented on #276
@faan11 It's better and easier to add the translations via Crowdin: https://crowdin.com/project/waistline (you can sign in with your github account)

[2021-08-07 09:29] faan11 commented on #276
ok I used Crowdin to add the new translations ( Android.app and locale json )

[2021-08-07 21:21] davidhealey commented on #285
https://github.com/davidhealey/waistline/pull/286

[2021-08-07 21:21] #285 closed

[2021-08-07 21:21] davidhealey commented on #288
https://github.com/davidhealey/waistline/commit/49171a6a01a2882d63091227dba2e96b8a2576c5

[2021-08-07 21:21] #288 closed

[2021-08-07 21:28] davidhealey commented on #284
Fixed https://github.com/davidhealey/waistline/commit/d746dde3437d1e63722e2b952e4523390e62b1bf

[2021-08-07 21:28] #284 closed

[2021-08-07 21:29] davidhealey commented on #276
This has been resolved now so I'll close this issue

[2021-08-07 21:29] #276 closed

[2021-08-07 21:31] davidhealey commented on #183
https://github.com/davidhealey/waistline/commit/64ab332ea6fa50b95d4bc34ad7f833d01bc54e3d
https://github.com/davidhealey/waistline/commit/c5c9fb8e64df093eb95d5a66a8203c4712b6dbe5

[2021-08-07 21:31] #183 closed

[2021-08-08 10:02] EmilJunker commented on #103
Version 3.0.1 added a language setting, so this issue can be closed now.

[2021-08-08 10:02] EmilJunker commented on #102
As of version 3.0.1, I can successfully log in with my OFF credentials (including special characters in the password), so I suggest you close this issue now.

[2021-08-08 10:02] EmilJunker commented on #155
This feature was implemented in version 3.0.0, so I think this issue can be closed now.

[2021-08-08 10:02] EmilJunker commented on #134
It doesn't use the American date format on my phone, so I believe this is fixed and you can close this issue.

[2021-08-08 10:06] EmilJunker commented on #170
I cannot reproduce this in the latest version, so it seems to be fixed indeed.

[2021-08-08 10:15] #170 closed

[2021-08-08 10:16] #134 closed

[2021-08-08 10:16] #155 closed

[2021-08-08 10:16] #102 closed

[2021-08-08 10:16] #103 closed

[2021-08-08 11:15] davidhealey commented on #274
Please let me know if this is fixed in the latest version https://github.com/davidhealey/waistline/releases/tag/3.0.1

[2021-08-08 11:20] DonPicciotto opened #291 "Can't add photos"
LineageOS4MicroG 18.1, Redmi Note 5. When I try to add a photo to upload a food to the OFF database, even if I shot the photo the app give me an error or simply don't add it, actually prohibiting me to upload a new entry. Do you think it could be possible to add the option to choose the image from internal memory? This way I can shoot the photo with another app and then choose it with waistline

[2021-08-08 11:24] davidhealey commented on #291
What is the error?

I don't know, but I can investigate it.

[2021-08-08 11:32] DonPicciotto commented on #291
After I shoot the photo, it automatically force me to edit the photo with a gallery app: with stock gallery app (after the "editing") the photo simply doesn't appear on the food page, with Simple Gallery (another gallery app) the error "failed to edit the photo" show up and it's impossible to continue

8 ago 2021, 13:25 da ***@***.***:

[2021-08-09 17:21] longestmt commented on #274
It worked!

[2021-08-09 17:30] davidhealey commented on #274
Excellent, thanks for confirming.

[2021-08-09 17:30] #274 closed

[2021-08-10 07:22] chk1 commented on #275
OFF product [0897922002829](https://world.openfoodfacts.org/product/0897922002829/peanut-butter-all-natural-protein-powder-pb-fit) lists the serving size as `2 Tbsp (12 g)`, I guess Waistline does some magic here to derive the serving calories from the 100g values, and misinterprets the serving size. Serving size is a free-text field on OFF, I guess values like this will get wrong results if it's

[2021-08-10 09:02] EmilJunker commented on #275
@longestmt

Someone edited the OFF product entry on April 23, 2020 and changed the nutrition data (see [here](https://world.openfoodfacts.org/product/0897922002829/peanut-butter-all-natural-protein-powder-pb-fit#data_sources)). That's why you are getting different results. It has nothing to do with Waistline.

It's defintely possible to edit the nutritional information after scanning a barcode. Bu

[2021-08-10 09:52] davidhealey commented on #275
That smells bad, I'll look into a fix.

[2021-08-10 12:56] longestmt commented on #275
Semi-related - Ive noticed that items like bread where a serving is "one slice" is showing up as 1g. I can tell that it means one slice but it's pretty confusing.

[2021-08-10 19:49] longestmt commented on #275
![Screenshot_20210810-154743_Waistline.jpg](https://user-images.githubusercontent.com/1509654/128925333-68bdc4da-16d9-443d-ade5-452796e7ef21.jpg)

You can see at the the bottom that the crackers have a weird notation.

[2021-08-10 20:08] EmilJunker commented on #275
@longestmt The issues you mentioned all have the same cause.

The bread entry in OFF has the serving size set to `1 SLICE (28 g)` which only leaves `g` after parsing:

https://world.openfoodfacts.org/product/0013764027121/thin-sliced-bread-good-seed-dave-s-killer-bread

The crackers have a portion size of `4 crackers (14 g)` which becomes `crackersg` after parsing:

https://world.openfoodfacts.org

[2021-08-10 20:11] longestmt commented on #291
I can confirm this bug as well. The app forces an edit via the gallery and then errors out.

S21U - Android 11

[2021-08-10 20:15] prysm1 commented on #275
maybe just dont do a any parsing? serving unit will be "4 crackers (14 g)" so a 1 unit of "4 crackers (14 g)".
this seems to be how fatsecrets is doing it.

[2021-08-10 20:18] longestmt commented on #275
This makes much more sense to me.

[2021-08-11 11:03] davidhealey commented on #275
I'll implement a solution at the weekend

[2021-08-11 16:33] prysm1 opened #292 "feature request: show average for the selected period in statistics view"
version 3.0.2 has been working great for me on my android 8.1 lg phone. so now i'm just nit picking :)

[2021-08-11 16:44] prysm1 commented on #292
yes, maybe just above the graph showing Average: <some value> or maybe above the timeline so that it does not clutter the screen.

[2021-08-12 22:14] EmilJunker commented on #292
Maybe you could also show the average as a horizontal line in the diagram. I don't know if that's possible, but I think it would be useful. Perhaps it could look something like this:

![Screenshot_20210813-001055](https://user-images.githubusercontent.com/19289477/129276619-6b1da161-ff6e-4714-9ab1-e07ef019c08f.jpg)

[2021-08-14 00:03] davidhealey commented on #292
@EmilJunker I like this idea. In addition it might also be good to show a line indicating the goal (if any)

[2021-08-14 09:11] Mavpt commented on #126
I have the same issue on version 3.0.2 when installed with F-Droid on an Asus Zenfone 5. It works when installed with PlayStore though.

[2021-08-14 09:25] thgoebel opened #293 "App opens to white screen (Unable to open asset UR)"
### Steps to reproduce

1. Clean install Waistline
2. Open app

### Actual behaviour

Splash screen with logo and circular progress indicator appears. Then a white screen.

### Expected behaviour

Index page shows after splash screen.

### Log

[code]

### Metadata

- Waistline 3.0.2 from F-Droid
- OnePlus 7 OxygenOS 11 +  OnePlus 5 LineageOS 18.1 (i.e. both Android 11)

[2021-08-14 10:16] txominik commented on #293
Same behavior on /e/OS 0.17-20210531117530 (Android 8.1.0) after an app update from 2.something (I didn't write this down) to version 3.0.2.

[2021-08-14 10:27] davidhealey commented on #293
@txominik Are you also using the version from f-droid?

[2021-08-14 10:28] davidhealey commented on #126
I'm noticing a pattern here. F-Droid. Anyone having this issue with the version from Play (which is the version I made)?

[2021-08-14 11:06] AdrienDSlone commented on #293
Same as above.
Clean install from Fdroid,
also tried from Github apk.
But both splashes whitescreen.

I am on Redmin Note 7 +10 QKQ1 .190910.002 + MIUI Global 12.5.1 Stable

I am really happy that 3.X released :D Thanks !

[2021-08-14 11:08] davidhealey commented on #293
@AdrienDSlone Did you have the issue with any other versions?

[2021-08-14 11:11] AdrienDSlone commented on #293
I unstalled 3.0.2 and installed 2.4.2 the one I used to use. The 2.4.2 works and prints the user guide when I launch it then I can reach everything.

[2021-08-14 11:14] AdrienDSlone commented on #293
Oh wait, the 3.0.1 works on my phone. Seems something change in 3.0.2

[2021-08-14 11:16] davidhealey commented on #293
This was the github apk?

[2021-08-14 11:17] AdrienDSlone commented on #293
Yes it is. Nice update UI and things btw

[2021-08-14 11:18] txominik commented on #293
Yes, I also use the F-Droid version.

[2021-08-14 11:19] davidhealey commented on #293
Can you try the version from github?

[2021-08-14 11:32] txominik commented on #293
I just tried to install the github version over the one installed through F-Droid, that didn't work. But a fresh install works.
The importer also does something, but since it's one year+ worth of data I'll give it another minute or two. I'll keep you posted.

[2021-08-14 11:34] davidhealey commented on #293
I hope you have a backup!

It can sometimes take a little while but I've had occassions where it hangs. Closing and reopening seemed to solve the issue.

[2021-08-14 11:38] txominik commented on #293
I do.

I just closed and reopened, there seems to be no data. Trying the import again yields the same result (the app seems to hang). But nevermind, I'll just input a few things and compare the export with the old export and adjust the format of my backup file.

Thanks a lot.

[2021-08-14 11:42] davidhealey commented on #293
If you can send me your json file I can try on my system and see if there are any errors.

[2021-08-14 11:46] thgoebel commented on #293
FWIW here's the diffoscope between the Github APK (wallet-release.apk) and the one from F-Droid (com.waist.line_30002.apk).
It just confirms that the plugin file are missing in the F-Droid build. Now the questions is: why?
[diffoscope-waistline-3.0.2.txt](https://github.com/davidhealey/waistline/files/6986401/diffoscope-waistline-3.0.2.txt)

[2021-08-14 11:47] txominik commented on #293
Thanks for the offer! Maybe later, right now I have to run some errands.

[2021-08-14 11:50] davidhealey commented on #293
Yes

[2021-08-14 11:50] AdrienDSlone commented on #293
I rechecked, I was wrong, apk 3.0.2 fro mGithub works to on my phone. My bad

[2021-08-14 11:52] davidhealey commented on #293
Thanks. I think that, and @thgoebel's finding confirms it, this is an f-droid issue.

[2021-08-14 11:59] davidhealey commented on #292
Done https://github.com/davidhealey/waistline/commit/41a1de11cbbdb26c7a70a68c2258434952819ec5

[2021-08-14 11:59] #292 closed

[2021-08-14 12:00] davidhealey commented on #289
F-droid seems to be updating again now so I'm going to close this

[2021-08-14 12:00] #289 closed

[2021-08-14 13:10] pablob127 commented on #293
I tried to upgrade from F-Droid and got bit by this. I could not downgrade (it failed with an "unknown error") so I had to uninstall to go back to the older version. But even though I did a data export, I think the data backup was lost when I uninstalled the ap, as the re-installed app doesn't  offer me to import data.  Is there any chance I could recover the data somehow? I had several months of

[2021-08-14 13:35] davidhealey commented on #293
I think it's lost unfortunately. The only place the file will be is inside the data folder.

I'd like to but there are issues with the whole file system API. I've looked for alternatives but so far haven't found a solution that works.

[2021-08-14 14:26] davidhealey commented on #275
This should be resolved now - https://github.com/davidhealey/waistline/commit/cce2bb0917bd1ede2284305da118cf248a7cf62c -

It's not as simple as removing the parsing entirely, while this improves the output for some of the examples given in this thread it negatively affects other items. The fix I've implemented should work in most cases. I'm sure someone will find another edge case where the parsin

[2021-08-14 14:26] #275 closed

[2021-08-14 14:35] davidhealey commented on #291
I've added a setting to toggle image editing https://github.com/davidhealey/waistline/commit/7c316de4720398709f0a9b73914de964346c2b28

This is set to false by default. Let me know if this fixes the issue (I'll be pushing a new release today or tomorrow).

[2021-08-14 14:36] davidhealey commented on #182
I'm closing this issue now. If the problem persists for you please make a new issue.

[2021-08-14 14:36] #182 closed

[2021-08-14 14:44] EmilJunker commented on #275
@davidhealey Looks good to me, but shouldn't you update the regex in line 138 as well?
https://github.com/davidhealey/waistline/commit/cce2bb0917bd1ede2284305da118cf248a7cf62c#diff-0ed1f87c4bd55b3b7dc115a6cbb8ac0419d51d8d925018423201c46146e0e9e0R138

I'm actually not sure whether the "If all else fails" case is even reachable, but if it is then the regex there should be updated too.

[2021-08-14 14:48] davidhealey commented on #178
I've added a generic notes field to the food editor now (haven't tested it with uploading, but it should just be ignored) https://github.com/davidhealey/waistline/commit/5be7c43fc9933e12c7818016d41c9bb864877b96

[2021-08-14 14:48] #178 closed

[2021-08-14 14:50] davidhealey commented on #275
Possibly, but I think I added that to fix some very rare edge cases (I can't remember) so unless someone has a specific example where it causes a problem I'd like to just leave it alone for now.

[2021-08-14 14:54] davidhealey commented on #126
I'm going to close this issue because we have the same thing being discussed in a fresher thread - https://github.com/davidhealey/waistline/issues/293

[2021-08-14 14:54] #126 closed

[2021-08-14 14:55] davidhealey commented on #123
@hyiltiz Have you tried the latest version?

[2021-08-14 14:55] #43 closed

[2021-08-14 15:00] DonPicciotto commented on #291
Thanks! I'll test it :)

14 ago 2021, 16:36 da ***@***.***:

[2021-08-14 15:01] davidhealey opened #294 "OFF product links"
Add clickable links to OFF products in the food editor when connected to the internet

[2021-08-14 15:11] davidhealey commented on #163
Done https://github.com/davidhealey/waistline/commit/2ea48e6fb14e4d18b5482cd002ef1da356b298b3

[2021-08-14 15:11] #163 closed

[2021-08-14 15:50] HelpfulCarrot commented on #293
I'm having the same issue when I try to downgrade using F-Droid (because I upgraded to 3.0.2 in F-Droid this morning and am having the white screen on launch issue). Additionally, when I try to install an APK from GitHub over the 3.0.2 F-Droid version that I upgraded to this morning, it fails with the error message 'App not installed.' I've tried this with three different APK releases on GitHub. I

[2021-08-14 15:55] davidhealey commented on #293
You can't as far as I know. F-Droid works by building the application directly from the source code and code-signing it themselves, the assures users that the code meets all of their ethical commitments.

When I upload an APK to github or Google Play I sign it using my signing key. Because my key and f-droid key are not the same it makes the two version incompatible when it comes to updating.

Are

[2021-08-14 15:57] davidhealey commented on #294
Done https://github.com/davidhealey/waistline/commit/9af5c754c206d746955a7250ad762db1aad002a8

[2021-08-14 15:57] #294 closed

[2021-08-14 16:02] HelpfulCarrot commented on #293
Regarding custom repositories, I know NewPipe does it with F-Droid. See here: https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/

As for android/data/com.waist.line, that's the first place I went (using the file browser called Dir, my phone isn't rooted, Android  version 9) after realizing there was a problem with the latest F-Droid build and I couldn't download, but within that directory

[2021-08-14 16:05] davidhealey commented on #293
Interesting!

That's the problem. Always backup before installing new versions. The latest version has an auto-backup feature too that writes a new backup file each time the app is opened.

[2021-08-14 16:10] HelpfulCarrot commented on #293
Yeah, I'm going to try to get in the habit of that! :) There hasn't been a new version on F-Droid for so long, I was excited to install it and skipped that step. But I'm hoping that if I'm able to install another package without uninstalling the current one first, my data will still be there, hence my hope that there might be a way to push an installable version to F-Droid via a custom repository,

[2021-08-14 16:15] davidhealey commented on #293
I've just pushed a new release, but you won't be able to install this over an f-droid installation because of the different signing keys.

If you use chrome on your PC you can connect your phone to your computer and go to chrome://inspect/ open Waistline and see if you get any errors in the console. You should also be able to see if your data is still there under the Application tab >> IndexedDB (

[2021-08-14 16:15] davidhealey commented on #291
@DonPicciotto It's live - https://github.com/davidhealey/waistline/releases/tag/3.1.0

[2021-08-14 16:16] HelpfulCarrot commented on #293
Oh, I just went back and re-read what you wrote regarding the different keys making things incompatible in terms of updating. I'm not sure if a custom repo for F-Droid would fix that, but I'm guessing not. So now I suppose I'm just wondering if you have any idea why I'm not able to downgrade within F-Droid, and if I'll be able to update to the next version that F-Droid builds without uninstalling

[2021-08-14 16:16] HelpfulCarrot commented on #293
Thanks, I'll check out the chrome stuff!

[2021-08-14 16:19] davidhealey commented on #293
Google changed the required format of the signing keys between version 2.x and 3.x so it could be that there is an incompatibility there.

[2021-08-14 16:31] HelpfulCarrot commented on #293
I'm not having any luck with Chrome (I'm sure I'm doing something wrong, but nothing appears on the console or in IndexedDB), but that's okay, I don't expect you to help me any more than you already have - I'll just wait for F-Droid to push the next version, whenever that happens. In the meantime I'll write things down the old-fashioned way. Hopefully F-Droid will update to the new version within

[2021-08-14 20:14] prysm1 opened #295 "Total calories in diary no longer updates"
Ver 3.1.0 git hub apk rel 28

Adding an food item under any category breakfast, lunch or dinner. Adds the items calories in the diary view.

Changing number of serving or servings in diary view does not change total

Changing servings or calories under thee food table view also no longer change the total

[2021-08-14 20:16] prysm1 commented on #295
![Capture+_2021-08-14-15-15-24](https://user-images.githubusercontent.com/88405330/129459034-26b657b6-d38a-4a3d-8c74-5f3f801a7fc0.png)

[2021-08-14 20:25] davidhealey commented on #295
To be clear, this only happens when you set the number of servings to 0, correct?

[2021-08-14 20:29] prysm1 commented on #295
Nope it started at some value then i changed it to lower value. I tried changing both servings and number of servings. I later set it to zero to see if it would zero out

[2021-08-14 20:31] davidhealey commented on #295
Can you give me specific steps to reproduce? Currently I can only reproduce it by setting serving to 0.

[2021-08-14 20:47] prysm1 commented on #295
I was installing the new apk on top of the old version, which migh have caused the problems. Delete cache and data then reinstall seems to fix it.

However even after a reinstall, setting number of serving to zero seems to not zero out calorie count.

[2021-08-14 20:48] davidhealey commented on #295
Yes I can recreate the issue when setting to 0 so I'll fix that.

[2021-08-14 21:45] davidhealey commented on #295
Done https://github.com/davidhealey/waistline/commit/27b0c4a7dff02f8b9d9c5d6f58c9ec4f1e8f4e6b

[2021-08-14 21:45] #295 closed

[2021-08-15 08:16] DonPicciotto commented on #291
Awesome, thanks a lot, it works :)

[2021-08-15 08:16] #291 closed

[2021-08-16 15:38] hyiltiz commented on #123
I no longer own that device anymore. I can borrow a similar device, configure as specified by myself in OP and try. Will come back later.

[2021-08-17 00:57] coliflor opened #296 "new update deleted all my data"
One year worth of data, every single day, every ration with all the details of every single meal, hundreds of manually scanned items and all gone.
Long time ago i entrusted a similar application as yours with personal data, the typical application with fancy GUI super cool tool but the stupid piece of shit wiped all my data because of a stupid glitch, the application spawned a corrupted process an

[2021-08-17 10:28] davidhealey commented on #296
The update shouldn't "delete" any data, it just transfers it to the new format. Did you backup your data before updating?

[2021-08-17 14:31] prysm1 opened #297 "nitpick: Overview is not very useful"
3.1.1 has been great for me so another set of nitpick

I don't really use the overview, so this comment is completely low priority.

1. The calories in the pi chart does not makes sense. having fat,carbs and protein makes sense and its what i have seen in most nutrition documents, but like i said i dont really look at those.
2. The overview looks like a "C" or pacman :)

suggestion maybe remove ov

[2021-08-17 16:06] pablob127 commented on #252
I know pretty much nothing about developing in Android (even less Cordova), but I wonder if adding an option to export the data to the SD card would be easier than making the export to an arbitrary file.

The SD card should be easier to read than a file in the private app data, since (in principle) it can be taken out and read on a computer or changed between phones to import data into a new devic

[2021-08-17 16:09] davidhealey commented on #252
If you can tell me how to do it I can give it a go

[2021-08-17 16:23] pablob127 commented on #252
I'm sorry, I have no idea, but I wanted to leave this written in case this made things easier.
I found this link, which does not tell me much, but could be useful if you know what it's talking about. ;-)
[stackoverflow.com](https://stackoverflow.com/questions/32783161/forcing-external-sdcard-on-android-with-cordova-and-file-plugin)

Thanks for all the work in the app!

[2021-08-17 19:27] grandeljay opened #298 "White screen on startup"
I just downloaded the App from FDroid to my Galaxy S9 Plus running /e/OS (based on lineage OS) and just can see a white screen

[2021-08-17 19:42] davidhealey commented on #298
Duplicate https://github.com/davidhealey/waistline/issues/293

[2021-08-17 19:42] #298 closed

[2021-08-17 23:00] pablob127 opened #299 "Cannot upload to OpenFoodFacts due to inability to take pictures."
When I scan a bar code that is not present in the OFF database, I get the option to upload to it. If I choose it, the app goes to the upload to OFF screen, as expected. However,  when I try to take a picture of the item, none of the small "camera" icons respond to taps. The app can scan barcodes, so it should not be a camera permission issue.
This is with version 3.1.1 from GitHub.

[2021-08-17 23:08] pablob127 opened #300 "Dairy calorie problems when adding a recipe"
I have just found the following issue in version 3.1.1:

I added a recipe to the list of foods, which I set as 1 serving of "full dish", and has a total number of calories of 1575 kcal.

When I add this to my Diary, the calorie count goes wrong. If I had 849 calories before adding it, when I add it (as 1 serving) my total calorie count in the top bar goes to 51145 (instead of the expected 2424). I

[2021-08-18 01:56] pablob127 commented on #300
I have done more tests, and it gets weird!

I re-constructed the recipe, and at the second reconstruction (using the same ingredients and quantities) it worked well, adding only the proper amount of calories to the total.
The old recipe, even though it looks the same, when added to the same day makes the calorie count inflate by a few tens of thousands (as described above). If I add either the new

[2021-08-18 10:03] davidhealey commented on #299
It won't, this is for editing images once you've taken them.

Try tapping the buttons a few more times, I've found the hit area for the buttons isn't very accurate. I'll see if I can improve this.

[2021-08-18 12:12] #296 closed

[2021-08-18 13:43] prysm1 commented on #297
yup all good closed. thanks

[2021-08-18 13:43] #297 closed

[2021-08-18 14:04] pablob127 commented on #299
I have tapped on, over, and around the buttons in all the possible ways I could think of, and I cannot get it to take a picture.
In case it is relevant, I have a OnePlus N10 5G, with OxygenOS 11 (which is Android 11).

I found that I have problems to hit things very close to the edges of the screen (I see that when I want to edit values on the right side of the screen). Maybe it could be a similar

[2021-08-18 17:24] davidhealey commented on #299
Possibly, but I find on my device also that the take picture buttons can be a bit hit and miss, so it needs improving.

[2021-08-18 21:22] pablob127 opened #301 ""Ghost" calories in a dairy entry after deleting everything."
I am giving Waistline a workout! (version 3.1.1 from Github)
I was trying to add some foods to the database, and somehow (I did not see exactly what happened, my phone moved and there were some uncontrolled presses), I ended up with 32 phantom calories in the day's list. The individual meals do not add up to the total shown in the top bar, there are an extra 32 calories. I deleted all entries, and

[2021-08-18 21:24] davidhealey commented on #301
Thanks I'll check it out, sounds fun :p

[2021-08-18 21:41] pablob127 commented on #301
I looked up a JSON parsing util, and I found out a part of the problem: One of the items I added ("Green onions, raw" id 28), got added into as an entry into the day, but without anything shown to the user.
This is what the database export says about the day:

[code]

There are two related questions:

1. How did this got added? (that I cannot reproduce, unfortunately, as it was a random series of

[2021-08-18 21:44] davidhealey commented on #301
I think a better thing would be to find out why it's invisible.

[2021-08-18 21:50] pablob127 commented on #301
That is a perfect 3rd question! :-)

[2021-08-18 22:22] pablob127 commented on #300
I snooped around in the exported database, and I found that the entry that causes the issues seems to be the following one:
`
    {
     "portion": "100",
     "id": 5,
     "type": "food",
     "dateTime": "2021-08-18T21:02:42.604Z",
     "quantity": "1",
     "category": "0"
    },
`
which does not have the "unit" field. I don't know if that could cause a huge miscalculation in the calories, sin

[2021-08-19 13:07] prysm1 commented on #301
similar to item #295

i opted to clear the cache and data and re-install. seem to have worked for me.
WARNING: deleting cache/data will delete backup json also

[2021-08-19 21:59] nm17 commented on #293
Any ETA for this?

[2021-08-19 22:01] davidhealey commented on #293
Seems to be a problem with F-Droid's build process so I don't know if there's anything I can do.

[2021-08-19 23:25] HelpfulCarrot commented on #293
Am I correct in understanding that you mean all future versions on F-Droid are likely to be broken? If this is the case, perhaps the best thing to do would be to remove Waistline from F-Droid, as unfortunate as this would be.

More immediately relevant, would you recommend that users encountering this bug uninstall the F-Droid build and reinstall through GitHub or the Play Store even though this i

[2021-08-20 10:04] davidhealey commented on #293
@HelpfulCarrot I don't see any reason why a future release won't work - I don't see any reason why the current release doesn't work either! If you can get in touch with f-droid and ask them what they need from me (if anything) to get it working and let me know that would be very helpful.

[2021-08-20 19:11] undefiened commented on #293
Are you sure the current build didn't work? It looks to me F-Droid did build it, see https://monitor.f-droid.org/builds/log/com.waist.line/30100 and https://monitor.f-droid.org/builds/log/com.waist.line/30101
There are 4 errors in the log, but I think the build was successful overall.
I think they just haven't deployed the updated version yet as they are still building new versions of other apps.

[2021-08-20 19:15] davidhealey commented on #293
The OP posted a log when the app is running and it shows the camera plugin is missing -
08-14 11:08:19.256  4212  4212 I chromium: [INFO:CONSOLE(1327)] "Uncaught Error: Module cordova-plugin-camera.Camera does not exist."

[2021-08-20 19:16] HelpfulCarrot commented on #293
I'd be happy to do what I can to help! I'll try to contact them as soon as I have time. It seems like posting on the F-Droid support forum is the best way to go, so I'll do that. :)

[2021-08-20 19:19] HelpfulCarrot commented on #293
Do the messages for the 4 errors give any indication whatsoever as to whether or not the errors are significant? I don't see any mention of the keyword 'camera' in the error log, but I don't have a clue how to interpret it, really.

[2021-08-20 19:22] davidhealey commented on #293
@HelpfulCarrot No, those errors don't mean anything to me.

[2021-08-21 19:38] davidhealey opened #302 "System for tracking adverse reactions to foods"
Sounds like a useful idea

[2021-08-22 07:47] m0ppers commented on #293
finally they picked up a newer version. I could upgrade to 3.1.1 using fdroid but the error is still the same :( white screen

[2021-08-22 09:18] undefiened commented on #293
Just letting know that I have tried reproducing the problem with building using their docker image, but failed miserably so far as their docker image doesn't seem to reproduce the same build results as the official server (https://gitlab.com/fdroid/docker-executable-fdroidserver/-/issues/12) :(

[2021-08-22 09:42] Darkproduct opened #303 "Version 3.1.1 White Screen"
I just updated my App to Version 3.1.1 and after the starting animation the screen just stays white. I tried to downgrade to an older Version, but this gives an unknown error from F-Droid while installing.

I have an Google Pixel 3 XL with Android 11.

[2021-08-22 09:51] #303 closed

[2021-08-22 09:51] Darkproduct commented on #303
Just found #293

[2021-08-22 10:08] Darkproduct commented on #293
Having the same problem.

Google Pixel 3 XL with Android 11

It looks like I'll be waiting for a new F-Droid release as well.

[2021-08-22 10:18] davidhealey commented on #293
Maybe they need me to upload the platform plugins directory, I'll try that and see if the next build they make works, I'll bump the version number to trigger a new build.

[2021-08-22 10:22] davidhealey commented on #293
Let's wait and see - https://github.com/davidhealey/waistline/releases/tag/3.1.2

[2021-08-22 15:36] HelpfulCarrot commented on #293
Apologies for not getting to this sooner, I had to undergo a medical procedure on Friday and wanted to wait until I was a bit less out of it. Fentanyl was quite the wild ride, I don't look forward to being on that again!

Anyway, I reached out via the F-Droid forums.
https://forum.f-droid.org/t/error-in-building-compiling-f-droid-build-of-the-app-waistline/14752?u=helpfulcarrot

I hope this is at

[2021-08-22 15:51] HelpfulCarrot commented on #293
Also, I tagged @eighthave in the F-Droid forums - since he seems to be one of the driving forces behind F-Droid, I thought he might be interested in a possible issue with the compiler / build process.

[2021-08-22 17:57] linsui commented on #293
I change the build block a little to make it builds in https://gitlab.com/fdroid/fdroiddata/-/commit/39bd283300f87fcbda3aa2485384736919ec178b#14fd17b1fe4b68da9bae6d17d4a004c59aa95141_362_341 because BarcodeScanner@2.1.5 can't be built with our setup. But I guess that's not the reason. I thought davidhealey is correct. We build this app with gradle only so platform files need to be in the repo. Thi

[2021-08-22 20:47] SalkinvonBach opened #304 "o"
On Tab S7 (tablet)
loading screen leads into a blank white screen with no way to do anything

[2021-08-23 01:50] vilhelmgray commented on #304
https://github.com/davidhealey/waistline/issues/293

[2021-08-23 08:25] Caeglathatur commented on #293
@HelpfulCarrot For what it's worth, it seems I found the F-Droid-signed v2.4.2 apk, if you want to attempt a downgrade. I just get an "App not installed" error though. https://archive.org/details/com.waist.line_20402

[2021-08-23 16:50] #304 closed

[2021-08-23 18:24] HelpfulCarrot commented on #293
Thanks for the tip! Unfortunately, I get the same error message.

[2021-08-23 20:52] eldaran opened #305 "Statistics and charts"
Hi !
Thanks a lot for this great application, it really helped me to lose weight :)

Not a bug but still really annoying:
- the stats diagram available in the dairy is totally useless since you compare different quantities (ie : grams of macro nutriments and kcal of energy count)
- the stats charts that draws weight, kcal, fat... Etc along the time should imho not be scaled starting from 0 (zero).

[2021-08-23 20:56] davidhealey commented on #305
Tap on the calories legend to hide it

[2021-08-23 22:21] EmilJunker commented on #305
I prefer it the way it currently is (with the scale starting from 0). So please keep this as an option, if possible.

[2021-08-24 00:08] mrhebisan opened #306 "After splash screen, I am stuck on a white screen"
After updating to 3.1.1, I can no longer access the app on my phone.  I see the new splash screen, but then when it fades to white the app does nothing else

Phone : Pixel 3a
OS : Graphene OS
OS Build number : RQ3A.210805.001.A1.2021081822

[2021-08-24 06:57] FabHof commented on #306
Same for me: Pixel 4

[2021-08-24 10:38] davidhealey commented on #306
https://github.com/davidhealey/waistline/issues/293

[2021-08-24 10:38] #306 closed

[2021-08-24 14:05] mrhebisan commented on #293
Downgrading apps via the UI on Android without first uninstalling isn't allowed so its not a surprise that people are running into this problem when trying to return to a working version.  The OS just has a really poor error message that doesn't explain why the downgrade fails.

I'd recommend doing what NewPipe does so that you can better guarantee a working application.  It won't help current use

[2021-08-24 19:28] davidhealey commented on #305
What wouild you change it to?

[2021-08-24 20:18] eldaran commented on #305
Hi !
Thx for the answers :)
I would like to be able to start vertical axis with a different value.

Yes :) I noticed the on/off option, but still I think the current circular diagram is not useful at all.

[2021-08-24 20:19] davidhealey commented on #305
Can you give me an example so I can see its purpose?

[2021-08-24 20:41] eldaran commented on #305
Here on attached picture, the vertical axis starts at 66 instead of 0. Thus, the variable changes are much more easy to read.
![jpeg_1625940454000](https://user-images.githubusercontent.com/2682993/130686927-85bda3b8-e91c-4e8a-acfa-aa094c098b00.jpg)

[2021-08-24 20:43] davidhealey commented on #305
Aha I understand now, thanks

[2021-08-24 21:05] eldaran commented on #305
My apologies for the lack of clarity then :)

Sorry to insist, but showing calories and macro nutriments in the same diagram makes no sense since units are different.

I would suggests instead to show macro nutriments breakdown with a bit more details, that is : including sat-fat (which is part of fat), sugar (which is part of carbs), fiber, salt, and of course protein, carbs, fat.

Please carry o

[2021-08-24 21:08] davidhealey commented on #305
Well the update I put out a couple of hours ago removed the energy values from the pie chart :) https://github.com/davidhealey/waistline/releases/tag/3.1.3

[2021-08-25 14:38] EmilJunker opened #307 "Localization"
The Crowdin translations are at 100% (have been for a while), so could you please merge the `l10n_master3` branch before pushing the next release?

Also, I noticed a few more strings that aren't localized yet:

- The new "Show Food Notes" option in settings
- The error message "Please fill in this field" in the food and recipe editor
- The placeholders "Recipe Name" and "Cooking Instructions" in t

[2021-08-25 14:44] davidhealey commented on #307
Thanks, I'll implement fixes/updates before the next release

[2021-08-26 03:13] dharwood opened #308 "Phantom diary entries from the food menu"
Problem: The checkmark in the "Food, Meals, Recipes" list writes an item to the DB before setting a category to put the item in, so not selecting a category leaves an invisible entry in the diary that still affects the calorie and nutrition counts. This entry cannot be interacted with to modify or delete from the diary

Replication:
 * Select an item in the Food list from the "Food, Meals, Recipes

[2021-08-26 10:01] #308 closed, assigned to nobody

[2021-08-27 23:02] brimwats opened #309 "White blank screen on startup"
Samsung Galaxy S10, Android 11, just manufacturer updates. installed through f/foxy droid

screenshot

![Screenshot_20210827-160046_Waistline](https://user-images.githubusercontent.com/49103046/131196596-d39e9af2-45b2-4c69-8834-27e43769742e.jpg)

[2021-08-27 23:03] brimwats commented on #309
have tried relaunching, restarting, reinstalling

[2021-08-27 23:04] davidhealey commented on #309
Duplicate

[2021-08-27 23:04] #309 closed

[2021-08-28 10:28] davidhealey opened #310 "Quantity popup"
When adding a single item to the diary/meal/recipe prompt for the quantity. Also add a setting to disable this.

[2021-08-28 10:54] davidhealey commented on #301
Fixed https://github.com/davidhealey/waistline/commit/876725f23830b06df41042a060206121f87d5a96

[2021-08-28 10:54] #301 closed

[2021-08-28 10:58] davidhealey commented on #300
I've just made a fix for #301 I'll push a release later today, let me know if it solves this issue also.

[2021-08-28 11:18] davidhealey commented on #305
Done https://github.com/davidhealey/waistline/commit/ea90530223495d8fc8e59d0056b3a3005f5fd84a

[2021-08-28 11:42] davidhealey commented on #307
Mostly done https://github.com/davidhealey/waistline/commit/100e883c2617ff5094ba155f6a8ec16e14665bdc

I couldn't find this in the food editor. Any idea what line it's on?

I haven't found a simple way to be able to localize placeholders yet. I think I'm going to have to roll my own solution for this. If you could make a separate issue for this one it would be handy.

I've added a prompt now to tel

[2021-08-28 11:58] EmilJunker commented on #307
I can't find it in the source code either. I guess it's an automatic thing handled by the OS. The message appears when I click inside a required text field but don't type anything. It probably uses the default system language, so it's not a big problem.

![Screenshot](https://user-images.githubusercontent.com/19289477/131216873-0a5c5b4d-5513-430b-aa27-2e98b56098bc.jpg)

Maybe just remove them? The

[2021-08-28 12:15] eldaran commented on #305
Thanks ! Looking forward to test it :)

[2021-08-28 12:24] davidhealey commented on #305
Done, all nutriments set to visible in Settings will be displayed in the pie chart https://github.com/davidhealey/waistline/commit/6aebc077c16119e277a877aae758c82934da374b

[2021-08-28 12:25] davidhealey commented on #307
Oh I think that's part of the UI framework. There probably is a way to localize it but I've not investigated it.

Done

[2021-08-28 12:45] AdrienDSlone opened #312 "French translation"
Hello,

Where can I contribute to translate waistline in french ?

Thx for the 3.1.4 release :)

[2021-08-28 12:48] davidhealey commented on #312
https://crowdin.com/

[2021-08-28 12:52] AdrienDSlone commented on #312
I see, but I will cost money wont it ?
Weblate offers for free hosting opens source translation :
https://weblate.org/en/

What do you think ?

[2021-08-28 12:53] davidhealey commented on #312
Crowdin doesn't cost anything. I don't know the details of how it works.
@EmilJunker Will probably be able to advise you better than I can

[2021-08-28 12:54] AdrienDSlone commented on #312
Ok, if it s free I ll wait EmiJunker advises and then will start translation :D

[2021-08-28 12:56] EmilJunker commented on #312
@AdrienDSlone Here's a direct link to the project: https://crowdin.com/project/waistline/fr

[2021-08-28 12:56] davidhealey commented on #312
I think the French translation is complete at the moment - except for a few additions I made today

[2021-08-28 12:56] EmilJunker commented on #307
Looks like you forgot to remove the "Category 7" placeholder :)

[2021-08-28 12:57] AdrienDSlone commented on #312
Ok, I ll check the link :)

i proposed because french is not reachable in settings waistline.

[2021-08-28 12:59] yarons commented on #312
@EmilJunker @davidhealey I really like Crowdin but at the time we set this up there was a long waiting list for Weblate, now it's a little different (grace period).

Anyways, I like Weblate a lot and I'm an active contributor but we might need some more prep work done before we can move to Weblate.

BTW, there's still no Crowdin link in the README file?

[2021-08-28 12:59] davidhealey commented on #307
Done https://github.com/davidhealey/waistline/commit/6b8e71f25da5ab38cf4a69e12b3736db3da169e1

[2021-08-28 13:01] davidhealey commented on #312
Want to add one? :)

[2021-08-28 13:01] AdrienDSlone commented on #312
I didnt know that I could find links in readme file, apologies

Anyway, tell me if you need a french guy

[2021-08-28 13:02] davidhealey commented on #312
You can't. There isn't one yet, that's what Yarons saying :)

[2021-08-28 13:03] AdrienDSlone commented on #312
I see but even in other projects since I learnt taht today I will look inside for translation and stuff haha

[2021-08-28 13:10] EmilJunker commented on #307
Another small issue: the locale string `settings.statistics.title` in `locale-en.json` is currently set to "Statistics Settings" instead of just "Statistics" (which would be more in line with other settings section titles).

[2021-08-28 13:14] yarons commented on #312
Sure, why not bb996a6a11e2125cbf1186ef1df6433647bfb8b8

[2021-08-28 14:02] #312 closed

[2021-08-28 16:44] zachir-trir commented on #293
I have the same issue with Nokia 6.1 running Lineage 18.1 when installing from f-droid (version 3.1.2), installing from the github (3.1.4) fixes it.

[2021-08-28 19:04] eldaran commented on #305
Nice ! But in my case, the option seems to work for the "calorie" stat only. Not for weight, fat, ...ie other stats.
Could you look into that ? Thanks 🙏🏻

[2021-08-28 19:06] davidhealey commented on #305
Are you using the version I put out today?

[2021-08-28 19:37] Caeglathatur commented on #293
Huh? I can't see 3.1.2 on F-Droid, and it's not even listed in the build metadata (while 3.1.3 is): https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/com.waist.line.yml

[2021-08-28 19:45] pablob127 commented on #300
No, this issue is still there. The database in my report for #301 has this issue (it appears on August 18, 2021). I was able to work around it, and I haven't encountered it anymore. But if I try to add those two items (one recipe and one food item) I still get the crazy numbers.
For simplicity, I am attaching an updated database that has the two offending items on August 29, 2021, as well as a scr

[2021-08-28 20:50] EmilJunker opened #313 "Add Android Adaptive icon"
Android 8.0 introduced the concept of Adaptive icons. The idea is to split the app icon into a background and a foreground instead of just providing a single static app icon with a predefined shape. This way, the Android launcher can apply a consistent shape to all icons on the home screen for a more uniform look and feel. Some launchers can even animate the icons using a parallax effect where the

[2021-08-28 20:53] davidhealey commented on #313
I do have the original SVG for the logo from the designer so I should be able to do this

[2021-08-28 22:24] eldaran commented on #305
Yes 3.1.4, I got it from github

[2021-08-28 22:25] eldaran commented on #305
I was referring to the zero of the y-axis. Sorry for the lack of clarity.

[2021-08-28 22:26] davidhealey commented on #305
Which option are you using? It should be the nutriments settings which don't include calories.

[2021-08-28 22:28] davidhealey commented on #305
Oh right, that's a different matter. I just tested and it's not working on my phone at all :) so I have something to fix

[2021-08-28 23:40] davidhealey opened #314 "More stats settings"
Add options to show/hide average and goal lines

[2021-08-28 23:42] davidhealey commented on #305
@eldaran Actually it does seem to be working for me. When the setting is off it will start the scale from the the lowest value recorded. So if you recorded 0 for one of the days it will start the scale at 0 still. Can you check if this is what you're seeing?

[2021-08-28 23:50] davidhealey commented on #314
Done https://github.com/davidhealey/waistline/commit/fa52eb81427ba05df112c7221554d2468bcbbaf8

[2021-08-28 23:50] #314 closed

[2021-08-29 01:24] prysm1 opened #315 "Pressing bar code no longer starts camera"
This is on 3.1.4 and android 8.1 lg

[2021-08-29 06:00] eldaran commented on #305
Hi,
No way to make it work except for the "calorie" variable. I checked with activate / deactivate in the options in case there would be some kind of initialisation, but not to avail.
![Screenshot_20210829-075659_Waistline](https://user-images.githubusercontent.com/2682993/131240379-1738e51d-ac84-4792-8ee2-2486d552ce16.png)

[2021-08-29 06:15] eldaran commented on #305
Variable "calories" with the same options
![Screenshot_20210829-081415_Waistline](https://user-images.githubusercontent.com/2682993/131240656-31616cf1-20ac-4182-a03d-fa2730672727.png)

[2021-08-29 09:49] prestidigitonium opened #316 "Feature Request: add image to custom food"
Hello, when I manually add a new food, it could be useful to add an image (just locally).

[2021-08-29 09:51] prestidigitonium opened #317 "Feature Request: show images in food list"
Hello, it could be useful to show food images also in food list and not only in diary tab.

[2021-08-29 10:00] prestidigitonium opened #318 "Feature Request: add water to tracking Nutriments list (or standalone)"
Hello, it could be useful to add a system to track drunk water and water assumed through food (as nutriment).

[2021-08-29 10:40] davidhealey commented on #315
Confirmed. I've just fixed the issue, it was a typo inserted in the last build. I'll publish a new release very soon.

[2021-08-29 10:40] #315 closed

[2021-08-29 10:44] davidhealey commented on #305
It's working here. I entered a value of 50 for weight everyday for a week.

![Screenshot_20210829-114223](https://user-images.githubusercontent.com/14021202/131247569-27612004-9006-4939-ba48-2c8ac8283bf5.png)

[2021-08-29 10:47] davidhealey commented on #317
Sounds reasonable

[2021-08-29 10:48] davidhealey commented on #318
I won't be implementing water tracking. My personal interest is calorie counting. You could add a meal category of water and a water food item to track that.

[2021-08-29 10:51] davidhealey commented on #315
https://github.com/davidhealey/waistline/releases/tag/3.1.5

[2021-08-29 11:24] eldaran commented on #305
Well, doesnt work for me 😕

[2021-08-29 11:45] EmilJunker commented on #307
According to the [Framework7 docs](https://framework7.io/docs/inputs.html), you can specify a custom error message by setting the `data-error-message` attribute (which I assume could also be done via JavaScript for a localized message string).

[2021-08-29 13:45] EmilJunker commented on #305
@eldaran The screenshot you posted has the range set to "1 Month" but the leftmost data point is from August 19. So I conclude that you only have weight data for the last 20 days and the older values are (invisibly) assumed to be zero. That's probably why it's not working for you.

To check my hypothesis, could you try setting the range to "1 Week" and see if this fixes it?

[2021-08-29 13:55] HelpfulCarrot commented on #293
@Caeglathatur I also can't see anything more recent than 3.1.1 on F-Droid (in terms of releases, not build metadata). But now I see 3.1.4 on the page you linked to, so hopefully that will be released today or within a few days. I read on the F-Droid forums a few days ago that F-Droid's signing process involves a designated team member who uses an air gapped computer to sign the packages, so that c

[2021-08-29 13:59] davidhealey commented on #293
Unfortunately this version has a major bug with the barcode scanner. Apart from that though it's fully functional (assuming we solved the white screen issue).

[2021-08-29 14:04] HelpfulCarrot commented on #293
Thanks for the information! But once I install 3.1.4 from F-Droid, assuming you solved the white screen issue, if I'm not mistaken I should be able to export my data, back it up, then uninstall the F-Droid build and install whatever version I want from GitHub  (I see you've already released version 3.1.5) and import my data, which is my plan! If I install from GitHub, is there any sort of auto-upd

[2021-08-29 14:06] davidhealey commented on #293
@HelpfulCarrot Yes that should work. There is no auto-update from github, you'd have to keep track of the releases manually, you could also use rss to be notified.

[2021-08-29 16:18] eldaran commented on #305
Nice try ... But not. By thé way, it works well for the calories, but not for every other stat
![Screenshot_20210829-181659_Waistline](https://user-images.githubusercontent.com/2682993/131257568-bb60163e-2ae9-4902-bd1d-92189470729f.png)

[2021-08-29 16:20] davidhealey commented on #305
@eldaran There's something strange going on there with the Average too

[2021-08-29 16:20] davidhealey opened #319 "Stats average not working properly"
Something fishy here

[2021-08-29 19:27] HelpfulCarrot commented on #293
Unfortunately I just installed the newly-released F-Droid build of version 3.1.3 and I'm still facing the white screen of doom issue. :(

[2021-08-29 19:55] Caeglathatur commented on #293
Same :cry:

[2021-08-29 19:55] davidhealey commented on #293
Anyone know how to get in touch with the relevant f-droid people?

[2021-08-29 20:05] HelpfulCarrot commented on #293
The best I can do is point you to their contact information, as listed on their 'About' page:
You can discuss F-Droid or get help on the forum and F-Droid’s user chat.

To chat with others about F-Droid, either join via IRC in the #fdroid channel on OFTC or join #fdroid:f-droid.org on Matrix. The discussions are logged on matrix.f-droid.org.

There are also bridges to Telegram and Jabber/XMPP (exp

[2021-08-29 20:07] davidhealey commented on #293
@HelpfulCarrot Thanks. I'll try to catch them on IRC next weekend

[2021-08-29 20:10] undefiened commented on #293
I can try to start an issue on https://gitlab.com/fdroid/fdroidserver/-/issues

[2021-08-29 20:25] HelpfulCarrot commented on #293
Happy to help in my own limited capacity! I sent an email briefly explaining the situation and appreciatively requesting their help if they are able to provide it. Specifically, I suggested they reach out to @davidhealey or reply to this 'issues' thread rather than replying to my email, since I lack the training and skillset to be of technical assistance.

In the meantime, I may just forfeit the d

[2021-08-29 20:28] HelpfulCarrot commented on #293
I'm not going to speak for David, but in a sense that sounds like a more appropriate channel to report this bug to F-Droid than via the forum or email or IRC!

[2021-08-29 20:29] davidhealey commented on #293
@HelpfulCarrot You live up to your name :) I'd rather talk to them in realtime on IRC to quickly resolve it.

[2021-08-29 21:38] HelpfulCarrot commented on #293
I'm glad! I have such difficulty coming up with usernames that I used Diceware to choose my GitHub handle (but, funnily enough, not the associated password), so any connection between my alias and personality is purely coincidental. :)

Good luck with IRC!

[2021-08-30 03:30] linsui commented on #293
I'm an F-Droid contributor. I can reproduce the problem in the CI. You can fork the https://gitlab.com/fdroid/fdroiddata/ repo and push your commit to triger the CI. I tried to build the apk with cordova but failed. See https://gitlab.com/linsui/fdroiddata/-/jobs/1544429673.

[2021-08-30 05:37] eldaran commented on #305
Right, average result is NaN so maybe a division by zero somewhere ?

[2021-08-30 05:47] EmilJunker commented on #305
@eldaran Is the weight average result the only one that's NaN? Or does this happen for other stats too? If yes, which ones? Maybe the issues are related.

[2021-08-30 07:09] eldaran commented on #305
As far as I can see, only for weight.

[2021-08-30 07:41] EmilJunker commented on #300
@pablob127 Do I understand it correctly that you created this recipe some time ago (in the old app version pre 3.0) and the issue started appearing after the migration to the new version? You mentioned that re-constructing the recipe using the same ingredients and quantities fixes the problem.

I too had an old recipe that started behaving weirdly after I upgraded to the new version. I also was ab

[2021-08-30 08:29] eighthave commented on #293
I know basically nothing about cordoba and javascript.  I can say that there are cordoba apps in F-Droid, so its possible.  F-Droid give you a Debian/stretch VM for your build, you need to set it up as required.  @linsui pointed you straight to likely problem, you can make a merge request on _fdroiddata_ and check the CI in your fork.

[2021-08-30 09:50] macearl commented on #293
Just FYI, in case it helps someone: the problem is still present in the new v3.1.3 which was published on f-Droid yesterday

[2021-08-30 13:57] pablob127 commented on #300
No, this happened with a recipe written from scratch in version 3.x .
I had the recipe written in the old 2.4.2 version, but my database was lost in the "white screen debacle" with the F-Droid version. :-)

[2021-08-30 19:41] eldaran commented on #305
Hi ! Since 3.1.5 y-axis issue seems to be cleared, but the Nan weight average is still there.

[2021-08-31 03:45] azzamsa commented on #309
https://github.com/davidhealey/waistline/issues/293

[2021-08-31 07:04] Anth0rx opened #320 "Consider Diet Induced Thermogenesis (DIT) / Thermic Effect of Food (TEF) in calculating net calories"
Measuring caloric intake from food almost always utilizes gross calorie nutritional information. This disregards the amount of energy expended during digestion of food, namely "Diet Induced Thermogenesis" (DIT) or "Thermic Effect of Food" (TEF). Especially protein as a macro nutrient has substancial effects in increasing DIT/TEF.

The study below states: "An increase in the protein fraction of one

[2021-08-31 08:53] azzamsa opened #321 "Feature Request: add excercise in diary"
Hi.

I am new to the waistline. I am curious why it does not have an exercise section in the diary.
It looks like other app had this feature. They subtract the daily calories goal for what we eat and add it if we do exercise.

Thanks for the waistline.

[2021-08-31 09:36] davidhealey commented on #321
2 Reasons:

* I have no interest in tracking calories used during exercise
* Most lookup tables of exercise <> calories are very generic, inaccurate, and not particularly useful. Everyone burns calories at a different rate and differently for each exercise. And each activity has many variables, just going for a 1 mile walk can produce hugely different calorie burns in one individual depending on t

[2021-08-31 09:38] davidhealey commented on #320
Not something I'll be implementing but I'll leave this feature request open if someone else wants to have a go.

[2021-08-31 09:52] prestidigitonium commented on #317
Could you add mini-images also in food search (like open food tracker does)? It's not so comfortable to open&close each food to see if the image is what we are looking for, and return dozens of times from the item to the list.

[2021-08-31 09:57] davidhealey commented on #317
I thought that's what you were asking for in your original post, no?

[2021-08-31 10:24] azzamsa commented on #321
Got it. I can add custom category in diary. However, as you said, currently I am not able to enter negative value.

I agree to your point above. However, how do you know if you hit the daily calories goal without inputting the exercise?, I am curios about waistline user workflow. I track my diet to loose weight and I think tracking burned calories is also important.

[2021-08-31 10:34] davidhealey commented on #321
I sit on my butt writing software all day, exercise calories are not having a big impact on my waistline :)

You can with quick-add but I'll add this to the food list too at the weekend.

Let's say you have a calorie limit of 2000kcal. If you did exercise that you believe burned 500kcal you might then think you could eat an additional 500kcal. But because of the inaccuracy of "burned" calories thi

[2021-08-31 10:51] prestidigitonium opened #322 "Bug: change portion size while adding new food from search"
Hello, I've the latest application 3.1.4 installed from f-droid (on crdroid 6.x).

**Problem**: In the food tab, when I search a food (using the online openfoodfacts database), if I change the portion size before tapping the checkmark button, then nutrients are not recalculated for the new size. So after adding the product I get a food with a custom portion size but nutrients are not referred to t

[2021-08-31 10:51] prestidigitonium opened #323 "Bug: food disappears if I add and delete the same food"
Hello, I've the latest application 3.1.4 installed from f-droid (on crdroid 6.x).

**Problem**: In the food tab, when I search a food (using the online openfoodfacts database), if I add a food, then delete it, and adding again the same food, it doesn't appear anymore in the food list.
**How to reproduce the problem**: Food tab > search a food online > add a food X. Delete the food X. Food tab > se

[2021-08-31 10:52] davidhealey commented on #322
You don't get the white screen of death issue?

Thanks for the bug report, I'll check it out at the weekend.

[2021-08-31 10:54] davidhealey commented on #323
Confirmed

[2021-08-31 11:42] azzamsa commented on #321
:), got it.

nice!

nice idea, I will eat at my daily calories goals, regarding the exercise.
this will make sure I don't have a surplus calories intake.

Thanks a lot for waistline.

[2021-08-31 13:01] davidhealey opened #324 "Show nutriment allowance remaining"

[2021-08-31 13:01] davidhealey opened #325 "Additional colour themes"
Or custom colours...

[2021-08-31 14:06] EmilJunker commented on #281
I think you can close this issue now.

[2021-08-31 14:19] #281 closed

[2021-08-31 14:50] prestidigitonium commented on #322
yes I got the white screen but I solved it in this way:
- remove waistline 3.1.4
- install waistline 3.0.0 from github
- use waistline for 1 day (add food, change settings..)
- update waistline from 3.0.0 to 3.1.4 using fdroid update

[2021-08-31 14:53] davidhealey commented on #322
I don't get it, you can't update Waistline from f-droid if you have the github version installed. The two version are incompatible, you'd have to uninstall the github version first.

[2021-08-31 14:54] prestidigitonium commented on #322
sorry, it was 3.0.0 from f-droid

[2021-08-31 17:20] prysm1 opened #326 "additional database sources"
maybe same approach as the usda db by using individual api key
https://www.nutritionix.com/business/api
https://platform.fatsecret.com/api/default.aspx?screen=rapih

[2021-08-31 17:29] davidhealey commented on #326
I'm hesitant to promote fat secret, I'd rather people add to the OFF database.

What I gather from the first one is it would require me to buy a license rather than individual users getting a free license.

[2021-09-01 09:37] davidhealey opened #327 "Bug adding meal to diary"
Adding meals (possibly recipes too) to the diary directly from the meals page results in strangeness

[2021-09-01 13:14] prysm1 commented on #326
Ok. I agree lets just push to make OFF better and more complete. thanks

[2021-09-01 13:14] #326 closed

[2021-09-02 01:57] ereinstein commented on #321
I was just searching for a feature request regarding food categories. Since that seems to be somewhat related to this issue, I am not sure if I should still create a new feature request for food categories.

Personally, I started using the app (which is fantastic btw) two days ago. I've added a few foods and two meals already but the overview quickly became a mess. Some form of categorising beyond

[2021-09-02 10:33] BrandonKMLee commented on #203
Cont. from https://github.com/zikalify/BMI_Calculator/issues/8

But BAI and ABSI are some metrics to keep an eye out for

[2021-09-02 11:17] davidhealey commented on #321
Make a separate issue for the categories so I can track it more easily.

As far as integration with other apps goes, it's not something I have any interest in adding as I don't use those apps and don't want to be responsible for implementing, testing, and maintaining something that I don't use. But if someone else implements it in a sensible way I'll merge it into the codebase.

[2021-09-02 11:29] ereinstein opened #328 "Categorising foods, meals and recipes"
Right now, the items in foods, meals and recipes are presented in a plain list without any further categorisation. This method of organising the items quickly becomes a mess. I'd like to propose categories which you can create on your own like e.g. dairy, convenience, fruits, etc. so that you can organise the items a bit better.

Being able to colour code items for easier recognition or further ca

[2021-09-02 17:10] Caeglathatur commented on #293
3.1.4 is also broken.

[2021-09-02 17:11] davidhealey commented on #293
What's "the CI"?

[2021-09-02 17:25] linsui commented on #293
There is a CI building the apk with fdroidserver. When you change the metadata, it will build changed app. You can also install fdroidserver and debug locally.

[2021-09-02 17:27] davidhealey commented on #293
I don't know what this stands for...

[2021-09-02 17:28] adamaze commented on #293
"Continuous integration"

[2021-09-02 17:29] linsui commented on #293
https://docs.gitlab.com/ee/ci/pipelines/#cicd-pipelines

[2021-09-02 17:31] davidhealey commented on #293
Thank you, I'll have a read!

[2021-09-02 17:36] Caeglathatur commented on #293
In practice, it often means something like

1. A commit is pushed to a repo on GitHub/GitLab.
2. The push triggers a script that builds and/or tests that version of the program.

Details vary greatly. As far as I understand, fdroidserver is a slight variation on this since I guess it builds software from repos other than itself?

[2021-09-02 17:39] linsui commented on #293
fdroidserver builds apps from metadata in fdroiddata. When a metadata is changed the CI will build the changed version with fdroidserver.

[2021-09-02 18:00] t-m-w commented on #293
It is great to see people working together openly and sharing knowledge to get this solved! That's really all I wanted to say, but to further justify commenting, here's something more on topic...

I wonder, for the folks stuck on a broken version for now, if `adb backup` and `adb restore` could be used as a way to get your data out and put it back once a working version is installed. I haven't tri

[2021-09-02 19:30] Caeglathatur commented on #293
Hmm, might try adb on the weekend.

[2021-09-03 16:19] icf20 opened #329 "% DV not supported"
Plenty of labels use % recommended daily value and this data is not imported from OFF also cant be manually added

[2021-09-03 20:08] EmilJunker commented on #310
Maybe a bit more difficult to implement, but when adding multiple items at once, the app could prompt for the quantity of each one by one. Just an idea...

[2021-09-03 20:45] davidhealey commented on #310
Shouldn't be too difficult to implement, just a single command vs a loop I think. I'll add an option to toggle that though because some people might not want it.

[2021-09-04 21:58] davidhealey commented on #323
Fixed https://github.com/davidhealey/waistline/commit/716f2d1773ad009ce007fcbfdb126d762f73beb8

[2021-09-04 21:58] #323 closed

[2021-09-04 22:01] davidhealey commented on #322
I can't confirm this issue, changing the serving size in the food editor before adding to the db works as expected in the latest version.

[2021-09-04 22:05] davidhealey commented on #327
Seems to be fixed... https://github.com/davidhealey/waistline/commit/6af03866340bbdbd7707654f9625a5506044025c

[2021-09-04 22:05] #327 closed

[2021-09-04 22:05] davidhealey commented on #319
Haven't been able to recreate the issue reliably yet

[2021-09-04 22:11] davidhealey commented on #321
Negative values done - https://github.com/davidhealey/waistline/commit/4be2c334091ad76b5ef278b6adedc545fb42a42d

[2021-09-04 22:11] #321 closed

[2021-09-04 22:12] #318 closed

[2021-09-04 23:02] azzamsa commented on #321
Thanks a lot. Now I just need to wait a new release.

[2021-09-05 08:08] EmilJunker commented on #319
Only the weight/neck/waist/etc. averages are broken (i.e. the body measurements). The averages for the macronutrients are working fine.

But there appears the be a more fundamental problem with the body measurements. I'm normally not using this feature, so I didn't have any weight values stored. To test it, I entered weights 68, 69 and 70 for the last three days, and now it shows an average of 228

[2021-09-05 08:08] EmilJunker commented on #305
The broken average is tracked in #319, so I think we can close this issue here since the y-axis problem has been fixed.

[2021-09-05 09:59] #305 closed

[2021-09-05 10:00] #325 closed

[2021-09-05 10:04] davidhealey commented on #319
Yes, the idea is for example, on Monday you enter your weight of 75kg, on Wednesday you enter your weight again, well it's probably going to be 75kg or somewhere close so we'll show the last weight you entered. I suppose I could make it show it shows the most recently entered weight based on the selected date though.

Yes. I should probably remove the show in statistics option for this one and mak

[2021-09-05 10:21] davidhealey commented on #319
Stats average issue is resolved - https://github.com/davidhealey/waistline/commit/c34547e998f631aa9c5dea489ffaa69d28919cf2

[2021-09-05 10:21] #319 closed

[2021-09-05 10:35] davidhealey commented on #293
I notice in your build log the error is in a node_module

      } catch {

In previous versions I was uploading my Cordova/node_modules folder to github, but currently I'm not. I wonder if that is making the difference. I'll look into this CI thing and try to solve the issue, but this gives me a starting point.

[2021-09-05 10:36] EmilJunker commented on #322
I just tested it and I can't recreate this issue either. Changing the serving size before tapping the checkmark button works as it should. Obviously, the link button at the top must be enabled for this to work (it is disabled by default when importing items from OFF). Maybe that was the problem?

[2021-09-05 10:38] davidhealey commented on #322
Serving size should still change even with the button off, it just won't update the other stats

[2021-09-05 10:45] EmilJunker commented on #322
@prestidigitonium wrote:

So the original issue was that nutrients are not recalculated when the serving size gets changed. The way I interpret it, there was never a problem with the serving size not being saved.

But as I said, I can't confirm this issue. The serving size is saved, and (if the link is active) the other nutrients are recalculated too.

[2021-09-05 10:47] davidhealey commented on #322
Thanks, I think the issue can be closed.

[2021-09-05 10:47] #322 closed

[2021-09-05 11:23] linsui commented on #293
We can generate those files.

[2021-09-05 11:24] davidhealey commented on #293
So what's causing the error?

`SyntaxError: Unexpected token {
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:616:28)
    at Object.Module._extensions..js (module.js:663:10)
    at Module.load (module.js:565:32)
    at tryModuleLoad (module.js:505:12)
    at Function.Module._load (module.js:497:3)
    at Module.require (module.js:5

[2021-09-05 11:28] linsui commented on #293
I don't know... I ran `cordova prepare` and got this. See https://gitlab.com/linsui/fdroiddata/-/commit/99d98976ef44ffb0f9073a31ea082016488d8d90.

[2021-09-05 11:32] Caeglathatur commented on #293
@davidhealey Are all the other .apks built from your local development environment?  Could be interesting to try setting up a fresh dev env and see if that error happens there. I'm thinking if there is something special about your local `cordova/node_modules`.

[2021-09-05 11:34] davidhealey commented on #293
This is a fairly fresh dev environment, I built this system a few months ago and the node_modules folder has been deleted a few times and re-initialised due to various issues I've had where a quick delete and redo was the fastest solution.

[2021-09-05 11:34] davidhealey commented on #293
I'm not sure how to intepret that, what does it show exactly?

[2021-09-05 11:39] linsui commented on #293
It shows as the log... Is that because the node or cordova version?

[2021-09-05 11:41] davidhealey commented on #293
Sorry I don't understand, is what because of the node of cordova version?

[2021-09-05 11:50] Caeglathatur commented on #293
@davidhealey As far as I can tell, @linsui seems to have modified the build metadata (i.e. build script) for 3.1.5 (compare with 3.1.4 above in that same file). The failed CI pipline referenced earlier (https://gitlab.com/linsui/fdroiddata/-/jobs/1544429673) ran when those changes were pushed. All I can say about it is that 3.1.5 in F-Droid still does not work.

I think what we need is to put buil

[2021-09-05 11:53] linsui commented on #293
I thought the error may be due to the version of node or cordova is different from yours. How do you build the apk from the source code? Could you provide some steps?

[2021-09-05 11:55] davidhealey commented on #293
I just run `cordova clean android` then `cordova build android --release` Then I sign the APK.

[2021-09-05 11:58] Caeglathatur commented on #293
Another thing to note is that the build metadata changes and the failed pipeline that we are discussing are from linsui's fork of fdroiddata, not the actual repo. Which means that the 3.1.5 now in F-Droid and on my phone were built using [this](https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/com.waist.line.yml#L429).

[2021-09-05 12:00] linsui commented on #293
I run `cordova prepare android` and then build the apk with gradle. I do that to make sore the fdroid scanner can scan the source. The error happens when `cordova prepare android`.

[2021-09-05 12:02] linsui commented on #293
Yes. We currently build it without npm install and cordova. This works for version 2 but produce broken apks for version 3.

[2021-09-05 12:05] davidhealey commented on #293
I pushed a new build a little while ago, I also uploaded the platforms/android/cordova/node_modules folder, don't know if it will help though...

[2021-09-05 12:56] Caeglathatur commented on #293
I think the problem is that the default F-Droid build script does entirely the wrong thing. Detailed build instructions, step by step from a fresh OS install (Debian? Ubuntu?) to finished .apk would probably be helpful for linsui to fix the build script (and for anyone who wishes to contribute code to Waistline).

[2021-09-05 13:10] undefiened commented on #293
@Caeglathatur I believe that there is are instructions in https://github.com/davidhealey/waistline/blob/master/Contributing.md with instructions on how to start a docker container, build, etc. I didn't try to build an apk with it yet, but it somewhat works for local development with browser (I did have some errors with cordova saying that some files already exist, but running the same command seco

[2021-09-05 13:47] linsui commented on #293
I'm not sure if that's possible to  run docker in the fdroid buildserver. Is the docker necessary? It seems the docker is pretty simple.

[2021-09-05 15:04] davidhealey commented on #293
I don't use docker, someone else added that to the repo

[2021-09-05 15:45] Caeglathatur commented on #293
Docker itself should not be necessary, but if the dockerfiles work, then they, along with Contributing.md should have all the necessary information for how to build. It just needs to be adapted from Alpine Linux to whatever the fdroid build environment is.

[2021-09-05 15:49] undefiened commented on #293
Oh, ok, that explains why it didn't work perfectly for me.

Then sorry for bringing that up, my bad.

[2021-09-05 21:09] m0ppers commented on #293
I am pretty sure that I just fixed it: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/9719

I struggled A LOT to get a local fdroid build server up and running but in the end I could reproduce the problem (i.e. white screen) and after adding the changes  - derived from the work here (https://github.com/davidhealey/waistline/issues/293#issuecomment-913135733 and some other cordova builds wit

[2021-09-05 21:15] davidhealey commented on #293
@m0ppers Thank you for taking the time to do this, it is very much appreciated.

1) No problem

2) I can remove the entire platforms folder?

3) Those errors are related to plugins and the splashscreen images. Does the apk you've built work properly and does the splashscreen show up?

[2021-09-05 21:39] m0ppers commented on #293
@davidhealey thanks for the app :D It helped me greatly during the last months!

2. that was just a wild guess because in some other fdroid projects that I scanned I don't see them: https://github.com/xbrowsersync/app https://github.com/deadlyjack/Acode . Maybe it would make sense to do it with the next major upgrade because I am VERY sure that this will (again) have consequences for the fdroid bu

[2021-09-05 21:41] davidhealey commented on #293
Yes, there shouldn't be any black screen

[2021-09-05 21:42] m0ppers commented on #293
ok then there is a (minor) problem and the logos are indeed missing.

[2021-09-06 13:22] HelpfulCarrot commented on #293
That's fantastic! Thank you very much, m0ppers, for your very significant contribution! And David, for what it's worth, I don't mind a (presumably temporary) bug with the splash screen / logos if it means the app is functional again (especially if you didn't push the new build to the Play Store until after you'd fixed the bug, so the only impact of releasing the new version would be making the app

[2021-09-06 13:27] davidhealey opened #330 "Food names with quotations not rendering properly"

[2021-09-06 13:28] davidhealey commented on #293
Did you test the other features of the app that use the plugins that also reported errors?

[2021-09-06 13:29] davidhealey commented on #293
I'm in the UK, but I don't follow public holidays, except Christmas, all days are the same to me :)

[2021-09-06 16:13] m0ppers commented on #293
ok that one is actually SOMEWHAT bogus. are you sure you don't see this warning when you build @davidhealey ? for testing I was using my tablet in landscape mode and indeed only portrait mode splash images are defined here: https://github.com/davidhealey/waistline/blob/master/config.xml#L35. When I start the app in portrait mode the splash images are there.

unfortunately fdroid now published 3.1.

[2021-09-06 16:15] davidhealey commented on #293
Oh that's interesting. I never open the app in landscape so hadn't noticed. But you are correct! I'll have to add landscape splashscreens. I'll make a new issue for this.

[2021-09-06 16:15] davidhealey opened #331 "Missing landscape orientation splashcreen"

[2021-09-07 17:44] EmilJunker commented on #313
@davidhealey
Hey, if you want you can send me the SVG and I'll try to do this myself.

[2021-09-07 18:47] davidhealey commented on #313
Thanks! If you want to fix the landscape splashscreen issue too don't let me stop you :)

[Master File.svg.zip](https://github.com/davidhealey/waistline/files/7123710/Master.File.svg.zip)

[2021-09-08 01:17] RyokoUmbra opened #336 "Issue with loading the app"
Having an issue with starting the app. On opening the app the splash screen comes up and shows that it is loading and then loads to a blank white screen. After leaving it for 10 minutes to see if it just needed time to load properly the screen is still white. I have uninstalled and reinstalled via F-Droid with no success in solving the issue. I'm currently on the most recent version, 3.1.5, with A

[2021-09-08 10:05] davidhealey commented on #336
https://github.com/davidhealey/waistline/issues/293

[2021-09-08 10:05] #336 closed

[2021-09-08 13:24] EmilJunker commented on #313
Okay, with the help of Inkscape and my very basic SVG editing/design skills, I was able to create new icons.

Problem is: For some reason, the app doesn't build with these adaptive icons. I've created a comment about this for a similar issue in the Cordova repository, see https://github.com/apache/cordova-android/issues/942.

You can see my edits at the `android-icons` branch in my fork: https://g

[2021-09-08 13:39] davidhealey opened #337 "Updated linked values in realtime"

[2021-09-08 18:21] prestidigitonium opened #338 "Feature request: split daily graph between macro and micro nutrients"
Hello, in the Diary tab there is a pie chart in the top right corner and it shows all tracked nutrients in 1 graph only. In my opinion it should be organized in macro and micro nutrients. In this way is not so easy to compare percentages of macronutrients (and they are important over all other nutrients). For example:
a top chart: macronutrients only
a bottom chart: micronutrients only

So my prop

[2021-09-08 18:38] RyokoUmbra commented on #336
Thanks! Just didn't look far enough back. Got it up and running now!

[2021-09-09 14:44] EmilJunker commented on #313
Some good news! After upgrading to the latest Android SDK (version 30), the build works. The adaptive icon is working too, but it doesn't look quite right on my phone, so I have to do a bit more work.

![Screenshot_20210909-164353](https://user-images.githubusercontent.com/19289477/132707419-2ae84176-f3a9-4344-bce9-2c58eb5f36ba.jpg)

[2021-09-09 14:46] davidhealey commented on #313
Will this still work on older phones?

[2021-09-09 14:49] EmilJunker commented on #313
It should. For older phones that don't support adaptive icons, a fallback icon is specified in the `src` attribute in the `config.xml` file.

[2021-09-09 14:59] HelpfulCarrot commented on #293
@davidhealey You've probably realized this already, but in the off chance you haven't, version 3.1.6 (as released on F-Droid today) has not solved the problem. But I take it 3.1.7 will, which is great news!

[2021-09-09 16:53] Caeglathatur commented on #293
As long as we manage to get build script fixes merged after 3.1.7 has been released but before F-Droid automatically pushes it out...

[2021-09-11 09:15] thgoebel opened #341 "Choose homescreen to launch app into"
### What
Allow the user to specify which screen the app should first display upon launch. Statistics, Diary, Food or Settings?
Pre-v3 Waistline had such a setting, where did it go? 😢

### Why

Launching into the settings screen forces the user to do 2 extra clicks in 99% of cases.

### Alternatives

1. Always launch the app into the last used screen. But even better: allow the users to choose a sc

[2021-09-11 09:21] thgoebel opened #342 "Improve About screen"
Couple of things that would be nice to have for the About screen:
- Make the Github link clickable.
- Show the current app version. Currently when reporting stuff I need leave the app and go into the OS settings to find out which version I have installed.
- Other apps also show links to *Contribute* or *Donate* web pages in their About section. I don't have a strong opinion on this, I'm just menti

[2021-09-11 15:03] icf20 opened #343 "b3 and b5"
those vitamins are missing

[2021-09-12 02:44] h-h-h-h commented on #293
### Public Service Announcement

@davidhealey, @HelpfulCarrot, @Caeglathatur, @m0ppers

Downgrading to the [v2.4.2 APK](https://archive.org/details/com.waist.line_20402) (as linked above by @Caeglathatur) was possible for me via the command:

    adb install -r -d com.waist.line_20402.apk

APK file was in working directory on my PC. Do not use shortened `-rd` according to Stackoverflow comment. Yo

[2021-09-12 11:11] lobneroO opened #344 "Stastics for Weight development"
I have updated to lineage 18.1 (android 11) yesterday and that triggered a waistline upgrade. The "new" version doesn't offer "weight" in the statistics anymore, which was the main reason I used the app. Can we get that back?

Edit: sorry about not marking this a feature request, I cannot find the button to do so.

[2021-09-12 11:11] davidhealey commented on #344
It does, but you need to enable it in your goal settings.

[2021-09-12 11:11] #344 closed

[2021-09-12 12:33] HelpfulCarrot commented on #293
First, @h-h-h-h, thanks so much for the PSA!
I'm having some difficulties downgrading using a similar method. I turned on USB debugging in developer options in Android, of course, and connected the phone via USB, and extracted the version of ADB you linked to in my root drive, such that adb.exe (along with all the other files and subdirectories) was in C:\platform-tools. Then I copied the APK file

[2021-09-12 16:46] txominik commented on #343
So are vitamin B7, copper, phosphorus, manganese, selenium, and iodine. I would love to see those included as well. Right now I enrich the JSON export with the help of a program that runs on my computer to see all the values.

[2021-09-12 17:03] h-h-h-h commented on #293
@HelpfulCarrot

I got `adb` a long time ago. Don't know where I got it from.

My output of `adb --version`:

File listing of `adb.exe`'s directory:

I used `cmd.exe` without admin privileges. First, I called `adb devices` to establish the connection and to confirm a system dialog on my phone, where I checked something like "Always trust this device". I reran `adb devices` and the output confirmed

[2021-09-12 17:50] ergodicbreak opened #346 "Set macro goals as percent of total?"
Hello, just started using the app yesterday and it's quite good, thanks very much for working on it!

Has anyone ever requested setting macro goals as a percent of total calories? Or maybe it's possible somehow? It's quite common to set macro goals like "25%/60%/15%" for fat/carb/protein for example, and it would make things a little more user friendly I think when setting goals.

I admit the UI c

[2021-09-12 17:54] davidhealey commented on #346
Related https://github.com/davidhealey/waistline/issues/245

[2021-09-12 17:57] ergodicbreak commented on #346
Yes, thank you! +1'ing that issue and closing this one.

[2021-09-12 17:57] #346 closed

[2021-09-12 20:29] TheLastProject commented on #293
@m0ppers you closed https://gitlab.com/fdroid/fdroiddata/-/merge_requests/9719 and I don't see anything new. Are the build step changes in that MR still relevant? I can check with the team if it may be possible to force a rebuild, or at least make sure it is put in place before the next release

[2021-09-13 08:24] lobneroO commented on #344
Oh, I see. Thank you. I didn't expect it there.

[2021-09-13 12:05] #313 closed

[2021-09-13 12:05] #331 closed

[2021-09-14 10:00] m0ppers commented on #293
@TheLastProject it resulted in an apk but I am not sure if the result actually worked (especially barcode scanner, camera and CORS requests). I gave up. I deleted all my data, reinstalled 2.4.2 from scratch and disabled updates.

[2021-09-14 12:16] EmilJunker commented on #341
This change is now implemented in https://github.com/EmilJunker/waistline/commit/72ce0ff38d9da3f3c833b45695c21989fcc4b89a.

If this is all right, it can be merged via pull request #335.

[2021-09-14 12:19] #307 closed

[2021-09-14 12:19] #341 closed

[2021-09-14 12:38] EmilJunker commented on #293
@m0ppers The issues you mentioned have been resolved (see #340). It should now be possible to build a working APK from the `master` branch.

Prerequisites:
- `cordova` node package
- a recent Android SDK (successfully tested with 29 and 30, but older ones might work too)
- gradle

Steps:
- clone the repo
- execute `cordova platform add android`
- execute `cordova build android`

So if you want, yo

[2021-09-15 14:53] #342 closed

[2021-09-15 14:53] #343 closed

[2021-09-17 09:26] veganDE commented on #299
I'm facing the same issue on my phone using GrapheneOS, Android 11, without Google Play Services:

adb logcat:

[code]

Seems like Waistline depends on me having set a default camera app, instead of asking which camera app I want to use when taking a picture. (And I cannot seem to find a way to set a default camera on my phone, unfortunately.)

[2021-09-17 09:38] davidhealey commented on #299
Thanks. I'll look into implementing this fix.

[2021-09-17 09:44] veganDE commented on #299
Oh wow, you were too fast! :D

I just corrected my comment:

Their issue was solved when their [PR 684](https://github.com/apache/cordova-plugin-camera/pull/684) got merged on Aug 9, which should be included in cordova-plugin-camera [6.0.0](https://github.com/apache/cordova-plugin-camera/releases), while waistline uses 5.0.3 according to the [package.json](https://github.com/davidhealey/waistline/

[2021-09-17 09:45] davidhealey commented on #299
Aha, even better, I can just upgrade the plugin.

[2021-09-17 10:56] davidhealey opened #349 "Improve food editor input"
Especially in the diary page when you just want to make a quick change to the serving or quantity, it's clumsy to be in a text box having to manually delete values one character at a time. I think it would be better to open a modal input window with an empty input box and default to numeric input.

[2021-09-17 17:39] davidhealey commented on #293
@EmilJunker @m0ppers - I've pulled all the latest stuff, removed the whitelist plugin, updated to cordova-android 10x and updated my SDK to 30x. I can succesfully build an Android app bundle (.aab) with this setup.

Do we think this will fix the whitescreen issue? Will I still need to push my platforms folder (or any of its contents) to github?

[2021-09-17 17:47] EmilJunker commented on #293
I don't know, but it's worth a try.

No, I think the dependence on the platforms folder for building was exactly what caused the problem in the first place. It should be possible to build without the platforms folder.

[2021-09-17 17:50] TheLastProject commented on #293
If it helps I could go and disable F-Droid's automatic update checker and add the new release manually when you make it so that existing users won't get an update notification and you can test it without the update being suggested to everyone. Tell me if you want me to do that.